

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Lista de Cursos
        </mat-card-title>
        <button mat-mini-fab
            title="Copiar"
            color="primary"
            (click)="copyContent()">
            <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-mini-fab
            title="Imprimir"
            color="primary"
            (click)="printContent()">
            <mat-icon>print</mat-icon>
        </button>
        <button  
            [disabled]="!idComision"
            type="button" 
            mat-mini-fab
            color="accent"
            title="Crear cursos"
            (click)="onCreateCursos()"><mat-icon>add</mat-icon></button>
        <button  
            [disabled]="!idComision"
            type="button" 
            mat-mini-fab
            color="accent"
            title="Eliminar cursos"
            (click)="onDeleteCursos()"><mat-icon>delete</mat-icon></button>
        <a mat-mini-fab
            color="warn"
            routerLink="/horario-admin-array"
            [queryParams]="{'curso-comision':idComision}"
            title="Ver horario de cursos"> <mat-icon>access_time</mat-icon> </a>
        <a mat-mini-fab disabled="disabled"
            title="Generar horarios"> <mat-icon>add_alarm</mat-icon> </a>
        <button  
            [disabled]="!idComision"
            type="button" 
            mat-mini-fab
            color="warn"
            title="Eliminar horarios"
            (click)="onDeleteHorarios()"><mat-icon>delete</mat-icon></button>
    </mat-card-header>
    
    <mat-card-content>
        <p>Para regenerar los cursos debe eliminar los existentes.</p>
        <div #mainContent>


            <table mat-table
                [dataSource]="control.controls"
                class="mat-elevation-z8"
                matSort
                matSortDisableClear
                (matSortChange)="onChangeSort($event)"
                [matSortActive]="'asignatura-nombre'"
                [matSortDirection]="'asc'">
            
                <ng-container matColumnDef="asignatura-nombre" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['asignatura-nombre'].value}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="horas_catedra" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Horas Cátedra </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['horas_catedra'].value}}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="horario" >
                    <th mat-header-cell *matHeaderCellDef > Horario </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['horario'].value}}
                    </td>
                </ng-container>
            
            
                <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let row; let i = index;">
                    <button type="button"
                        mat-mini-fab
                        title="Eliminar curso"
                        color="warn"
                        (click)="removeCurso(i)">
                        <mat-icon>delete</mat-icon></button>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                    [hidden]="row.controls.hasOwnProperty('_mode') && (row.controls['_mode'].value == 'delete')"
                    *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
        
        </div>
    </mat-card-content>
</mat-card>
