

<mat-card>
    <mat-card-header>
      <mat-card-title>
        Lista de Cursos
      </mat-card-title>

       <ng-container>
        <button mat-mini-fab
            title="Copiar"
            color="primary"
            (click)="copyContent()">
            <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-mini-fab
            title="Imprimir"
            color="primary"
            (click)="printContent()">
            <mat-icon>print</mat-icon>
        </button>
        <a mat-mini-fab
            routerLink="/horario-admin-array"
            [queryParams]="{'curso-comision':idComision}"
            title="Horario de cursos"> <mat-icon>access_time</mat-icon> </a>
        <a mat-mini-fab disabled="disabled"
            title="Generar horarios"> <mat-icon>add_alarm</mat-icon> </a>
        </ng-container>
    </mat-card-header>
    <mat-card-content>
        <div #mainContent>


            <table mat-table
                [dataSource]="control.controls"
                class="mat-elevation-z8"
                matSort
                matSortDisableClear
                (matSortChange)="onChangeSort($event)"
                [matSortActive]="'asignatura-nombre'"
                [matSortDirection]="'asc'">
            
                <ng-container matColumnDef="asignatura-nombre" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['asignatura-nombre'].value}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="horas_catedra" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Horas Cátedra </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['horas_catedra'].value}}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="horario" >
                    <th mat-header-cell *matHeaderCellDef > Horario </th>
                    <td mat-cell *matCellDef="let row; let i = index;">
                    {{row.controls['horario'].value}}
                    </td>
                </ng-container>
            
            
                <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let row; let i = index;">
                    <!-- <a [routerLink]="'/toma-posesion-email-abc'"
                        [queryParams]="{'curso':row.controls['id'].value}"
                        [title]="'Administrar Comision'">Toma de Posesión</a> -->
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>

        </div>
    </mat-card-content>
</mat-card>
