<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="tipo"  [ngClass]="{'is-invalid':(tipo.invalid && (tipo.dirty || tipo.touched))}">
      <div class="text-danger" *ngIf="(tipo.touched || tipo.dirty) && tipo.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Prefijo</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="prefijo"  [ngClass]="{'is-invalid':(prefijo.invalid && (prefijo.dirty || prefijo.touched))}">
      <div class="text-danger" *ngIf="(prefijo.touched || prefijo.dirty) && prefijo.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Numero</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="numero"  [ngClass]="{'is-invalid':(numero.invalid && (numero.dirty || numero.touched))}">
      <div class="text-danger" *ngIf="(numero.touched || numero.dirty) && numero.invalid">
        <div *ngIf="numero.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Persona</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead [data$]="data$" [fieldset]="fieldset" [entityName]="'persona'" [fieldName]="'persona'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(persona.touched || persona.dirty) && persona.invalid">
        <div *ngIf="persona.errors.required">Debe completar valor</div>
        <div *ngIf="(persona.touched && persona.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
</fieldset>
