
<h3>Domicilio
  <button *ngIf="fieldset.enabled" type="button" class="btn btn-success" (click)="fieldset.disable()">SI</button>
<button *ngIf="fieldset.disabled" type="button" class="btn btn-danger" (click)="fieldset.enable()">NO</button>
</h3>

<fieldset *ngIf="fieldset.enabled" [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Calle</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="calle"  [ngClass]="{'is-invalid':(calle.invalid && (calle.dirty || calle.touched))}">
      <div class="text-danger" *ngIf="(calle.touched || calle.dirty) && calle.invalid">
        <div *ngIf="calle.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Entre</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="entre"  [ngClass]="{'is-invalid':(entre.invalid && (entre.dirty || entre.touched))}">
      <div class="text-danger" *ngIf="(entre.touched || entre.dirty) && entre.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Numero</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="numero"  [ngClass]="{'is-invalid':(numero.invalid && (numero.dirty || numero.touched))}">
      <div class="text-danger" *ngIf="(numero.touched || numero.dirty) && numero.invalid">
        <div *ngIf="numero.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Piso</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="piso"  [ngClass]="{'is-invalid':(piso.invalid && (piso.dirty || piso.touched))}">
      <div class="text-danger" *ngIf="(piso.touched || piso.dirty) && piso.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Departamento</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="departamento"  [ngClass]="{'is-invalid':(departamento.invalid && (departamento.dirty || departamento.touched))}">
      <div class="text-danger" *ngIf="(departamento.touched || departamento.dirty) && departamento.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Barrio</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="barrio"  [ngClass]="{'is-invalid':(barrio.invalid && (barrio.dirty || barrio.touched))}">
      <div class="text-danger" *ngIf="(barrio.touched || barrio.dirty) && barrio.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Localidad</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="localidad"  [ngClass]="{'is-invalid':(localidad.invalid && (localidad.dirty || localidad.touched))}">
      <div class="text-danger" *ngIf="(localidad.touched || localidad.dirty) && localidad.invalid">
        <div *ngIf="localidad.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
</fieldset>
