
  <mat-card >
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <mat-card-title >Paso 2: Revisar email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Sus datos fueron registrados correctamente.</p>
      <p>Usted recibirá un email con los pasos a seguir para realizar la toma de posesión, verifique su casilla de correo.</p>
      <p>Si el email no llega en los próximos minutos, comuníquese con <strong>docentes.cens462@gmail.com</strong>
         o envienos un <a href="https://api.whatsapp.com/send/?phone=5492216713326">Whatsapp</a> informándo el error.</p>
      <p><strong>No olvide verificar su carpeta de correo no deseado.</strong></p>
    </mat-card-content>
  </mat-card>
  