<div class="card">
  <div class="card-header" (click)="optCard = !optCard">Opciones</div>
  <div class="card-body" [hidden]="!optCard">
    <form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">       
      <app-search-all [form]="searchForm" [params$]="params$"></app-search-all>
      <!--app-persona-search-params [form]="searchForm" [params$]="params$"></app-persona-search-params-->
      <!--app-persona-search-condition [form]="searchForm" [condition$]="condition$"></app-persona-search-condition-->
      <div class="ml-5">
        <button type="submit" class="btn btn-primary btn-sm">Buscar <span class="oi oi-magnifying-glass"></span></button>
      </div>
    </form>
  </div>
</div>
