<ngb-accordion #acc="ngbAccordion">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>Opciones</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()" >
        <div formArrayName="filters">
          <div class="form-row align-items-center" *ngFor="let filter of filters.controls; let i=index" [formGroupName]="i">


            <div class="col-xs-4">
              <select class="form-control form-control-sm" formControlName="field">
                <option value="">--Campo--</option>
                <option value="_search">Todos</option>
                <option value="id">Curso</option>
                <option value="observaciones">Observaciones</option>
                <option value="alta">Alta</option>
                <option value="comision">Comision</option>
                <option value="carga_horaria">Carga Horaria</option>
              </select>
            </div>


            <div class="col-xs-2" [ngSwitch]="f(i)" >   
              <!-- todos -->
              <select *ngSwitchCase="'_search'" class="form-control form-control-sm" formControlName="option">
                <option value="=~">&cong;</option>
              </select>

              <!-- id -->
              <select *ngSwitchCase="'id'" class="form-control form-control-sm" formControlName="option">
                <option value="=">=</option>
                <option value="!=">&ne;</option>
              </select>

              <!-- observaciones -->
              <select *ngSwitchCase="'observaciones'" class="form-control form-control-sm" formControlName="option">
                <option value="=~">&cong;</option>
                <option value="!=~">&#8775;</option>
                <option value="=">=</option>
                <option value="!=">&ne;</option>
                <option value="<=">&le;</option>
                <option value=">=">&ge;</option>
              </select>
    
              <!-- alta -->
              <select *ngSwitchCase="'alta'" class="form-control form-control-sm" formControlName="option">
                <option value="=~">&cong;</option>
                <option value="!=~">&#8775;</option>
                <option value="=">=</option>
                <option value="!=">&ne;</option>
                <option value="<=">&le;</option>
                <option value=">=">&ge;</option>
              </select>
    
              <!-- comision -->
              <select *ngSwitchCase="'comision'" class="form-control form-control-sm" formControlName="option">
                <option value="=">=</option>
                <option value="!=">&ne;</option>
              </select>

              <!-- carga_horaria -->
              <select *ngSwitchCase="'carga_horaria'" class="form-control form-control-sm" formControlName="option">
                <option value="=">=</option>
                <option value="!=">&ne;</option>
              </select>

            </div>


            <div class="col-xs-4" [ngSwitch]="f(i)" >
              <!-- todos -->
              <input *ngSwitchCase="'_search'" class="form-control form-control-sm" formControlName="value">

              <!-- id -->
              <app-filter-typeahead *ngSwitchCase="'id'" [entityName]="'curso'" [filter]="filter" ></app-filter-typeahead>

              <!-- observaciones -->
              <input *ngSwitchCase="'observaciones'" class="form-control form-control-sm" formControlName="value">

              <!-- alta -->
              <input *ngSwitchCase="'alta'" class="form-control form-control-sm" formControlName="value">

              <!-- comision -->
              <app-filter-typeahead *ngSwitchCase="'comision'" [entityName]="'comision'" [filter]="filter" ></app-filter-typeahead>

              <!-- carga_horaria -->
              <app-filter-typeahead *ngSwitchCase="'carga_horaria'" [entityName]="'carga_horaria'" [filter]="filter" ></app-filter-typeahead>

              <div *ngSwitchDefault>Seleccione campo</div>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeFilter(i)"><span class="oi oi-x"></span></button>
            </div>
          </div>
        </div> <!-- formArrayName="filters" -->
      
        <div class="form-row">
          <div class="col">
            <button type="button" class="btn btn-info btn-sm" (click)="addFilter()"><span class="oi oi-layers"></span></button>
            <button type="submit" class="btn btn-primary btn-sm"><span class="oi oi-magnifying-glass"></span></button>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
