<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card *ngIf="(load$ | async); else loading">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Curso</mat-card-title>
    <div *ngIf="idComision; else disableAdd">
      <a color="primary" mat-mini-fab  [routerLink]="['/curso-admin']" [queryParams]="{comision:idComision}" ><mat-icon>add</mat-icon></a>
      <button (click)="agregarCursos()" mat-mini-fab><mat-icon>post_add</mat-icon></button>
      <button (click)="eliminarCursos()" mat-mini-fab color="warn"><mat-icon>clear</mat-icon></button>
      &nbsp;
      <a mat-mini-fab  [routerLink]="['/comision-horarios-admin']" [queryParams]="{id:idComision}" title="Agregar horarios aleatoriamente"><mat-icon>alarm_add</mat-icon></a>
      <a mat-mini-fab  [routerLink]="['/horario-admin']" [queryParams]="{id:idComision}" title="Ver y modificar horarios"><mat-icon>alarm</mat-icon></a>
      <!--button color="warn" mat-mini-fab><mat-icon>alarm_off</mat-icon></button-->
    </div>
    <ng-template #disableAdd>
      <a color="primary" mat-mini-fab disabled><mat-icon>add</mat-icon></a>
      <button mat-mini-fab disabled><mat-icon>post_add</mat-icon></button>
      <button color="warn" disabled mat-mini-fab><mat-icon>clear</mat-icon></button>
      &nbsp;
      <button mat-mini-fab disabled><mat-icon>alarm_add</mat-icon></button>
      <button disabled mat-mini-fab><mat-icon>alarm</mat-icon></button>
      <!--button color="warn" disabled mat-mini-fab><mat-icon>alarm_off</mat-icon></button-->

    </ng-template>
  </mat-card-header>
  <mat-card-content>

    <table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="asignatura">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </th>
        <td mat-cell *matCellDef="let row"> {{row.asignatura_.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="horas_catedra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Horas Catedra </th>
        <td mat-cell *matCellDef="let row"> {{row.horas_catedra}} </td>
      </ng-container>

      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario </th>
        <td mat-cell *matCellDef="let row"> {{row.horario}} </td>
      </ng-container>

      <ng-container matColumnDef="docentes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Docentes </th>
        <td mat-cell *matCellDef="let row"> 
          <mat-list role="list" dense>
            <mat-list-item *ngFor="let toma of row.tomas" role="listitem"><span *ngIf="toma.docente">{{toma.docente_.nombres}} {{toma.docente_.apellidos}}</span>&nbsp;{{toma.fecha_toma | toDate | date:"d/M/y"}}&nbsp;<mat-icon>edit</mat-icon></mat-list-item>
          </mat-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
  </mat-card-content>
</mat-card>
