  
        <fieldset [formGroup]="fieldset">
          <div class="form-inline">
              <div class="form-group mb-2">
                <label for="anio">Año</label>
                <select class="form-control" formControlName="anio">
                    <option [ngValue]="null">--Anio--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
              </div>
              <div class="form-group mb-2">
                  <label for="anio">Semestre</label>
                  <select class="form-control" formControlName="semestre">
                      <option [ngValue]="null">--Semestre--</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                  </select>
              </div>
              <div class="form-group mb-2">
                  <label for="anio">Modalidad</label>
                  <select class="form-control" formControlName="modalidad">
                      <option [ngValue]="null">--Modalidad--</option>
                      <option *ngFor="let option of (options | async)?.modalidad" [value]="option.id" >{{option.id | label:"modalidad"}}</option>
                  </select>
              </div>
              <div class="form-group mb-2">
                  <label for="anio">Centro educativo</label>
                  <app-fieldset-typeahead [fieldset]="fieldset" [entityName]="'centro_educativo'" [fieldName]="'centro_educativo'"></app-fieldset-typeahead>
              </div>            
          </div>
        </fieldset>