<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Toma <button mat-mini-fab color="primary" (click)="copyContent()"><mat-icon>content_copy</mat-icon></button>
      <button mat-mini-fab color="primary" (click)="printContent()"><mat-icon>print</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content #content *ngIf="(load$ | async); else loading">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="onChangeSort($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="fecha_toma">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Toma </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha_toma | toDate | date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.fecha_toma </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.estado </td>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
        <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.observaciones </td>
      </ng-container>

      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
        <td mat-cell *matCellDef="let row"> {{row.comentario}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.comentario </td>
      </ng-container>

      <ng-container matColumnDef="tipo_movimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Movimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo_movimiento}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.tipo_movimiento </td>
      </ng-container>

      <ng-container matColumnDef="estado_contralor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Contralor </th>
        <td mat-cell *matCellDef="let row"> {{row.estado_contralor}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.estado_contralor </td>
      </ng-container>

      <ng-container matColumnDef="alta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alta </th>
        <td mat-cell *matCellDef="let row"> {{row.alta | toDate | date:'dd/MM/yyyy HH:mm'}} </td>
        <td mat-footer-cell *matFooterCellDef> footer.alta </td>
      </ng-container>

      <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
        <td mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/curso-show']" [queryParams]="{id:row.curso}" ><core-label [id]="row.curso" [entityName]="'curso'"></core-label></a>
        </td>
        <td mat-footer-cell *matFooterCellDef> footer.curso </td>
      </ng-container>


      <ng-container matColumnDef="reemplazo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reemplazo </th>
        <td mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/persona-show']" [queryParams]="{id:row.reemplazo}" ><core-label *ngIf="row.reemplazo" [id]="row.reemplazo" [entityName]="'persona'"></core-label></a>
        </td>
        <td mat-footer-cell *matFooterCellDef> footer.reemplazo </td>
      </ng-container>

      <ng-container matColumnDef="planilla_docente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Planilla Docente </th>
        <td mat-cell *matCellDef="let row"> 
          <a [routerLink]="['/planilla-docente-show']" [queryParams]="{id:row.planilla_docente}" ><core-label [id]="row.planilla_docente" [entityName]="'planilla_docente'"></core-label></a>
        </td>
        <td mat-footer-cell *matFooterCellDef> footer.planilla_docente </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!--tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr-->
    </table>  
    <mat-paginator *ngIf="display && length"
                   [length]="length"
                   [pageSize]="display.size"
                   [pageIndex]="display.page-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
