<mat-card>
  <mat-card-header>
    <mat-card-title>Persona</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" >
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Nombres</strong><br>{{data.nombres}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Apellidos</strong><br>{{data.apellidos}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Fecha Nacimiento</strong><br>{{data.fecha_nacimiento}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Numero Documento</strong><br>{{data.numero_documento}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Cuil</strong><br>{{data.cuil}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Genero</strong><br>{{data.genero}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Apodo</strong><br>{{data.apodo}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Telefono</strong><br>{{data.telefono}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Email</strong><br>{{data.email}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Email Abc</strong><br>{{data.email_abc}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Alta</strong><br>{{data.alta}}</div>
      <div class="item" fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%"><strong>Domicilio</strong><br>{{data.domicilio}}</div>
  </mat-card-content>
</mat-card>
