<mat-card>
    <mat-card-header>
      <mat-card-title>Legajo</mat-card-title>
    </mat-card-header>
    <mat-card-content>


<form [formGroup]="controlContainer" novalidate (ngSubmit)="onSubmit$.next(null)">

<table mat-table
    [dataSource]="control.controls"
    class="table mat-elevation-z8">
 
    <ng-container matColumnDef="descripcion" >
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <mat-form-field>
                <mat-label>Descripcion</mat-label>
               
                <input matInput
                       type="text"
                       [formControl]="row.controls['descripcion']"
                       placeholder="Ingrese descripción"
                >
               
                <mat-error>
                  <ng-container *ngIf="row.controls['descripcion']!.hasError('required')">Debe completar valor</ng-container>
                  <ng-container *ngIf="row.controls['persona']!.hasError('required')">No se encuentra la persona creada</ng-container>

                </mat-error>
               
              </mat-form-field>


        </td>
    </ng-container>
 
    <ng-container matColumnDef="archivo" >
        <th mat-header-cell *matHeaderCellDef > Archivo </th>
        <td mat-cell *matCellDef="let row; let i = index;">
           <app-upload-detalle-persona-archivo [control]="row.controls['archivo']"></app-upload-detalle-persona-archivo>
        </td>
    </ng-container>
 
 
    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <button type="button"
                mat-mini-fab
                title="Eliminar curso"
                color="warn"
                (click)="remove(i)">
                <mat-icon>delete</mat-icon></button>

        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        [hidden]="row.controls.hasOwnProperty('_mode') && (row.controls['_mode'].value == 'delete')"
        *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>

<mat-toolbar>
        <mat-toolbar-row>
            <button  
                type="button"
                mat-mini-fab
                color="accent"
                title="Agregar curso"
                (click)="add.emit()"><mat-icon>add</mat-icon></button>
                
            <button  
                [disabled]="control.status == 'PENDING'"
                type="submit"
                mat-raised-button>Guardar Legajo</button>
    </mat-toolbar-row>
</mat-toolbar>

</form> 
    </mat-card-content>
</mat-card>

