<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
 
<ng-container *ngIf="(loadParams$ | async); else loading">
    <ng-container *ngIf="(loadDisplay$ | async); else loading">
        <ng-container *ngIf="(loadStorage$ | async); else loading">
            <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Buscar alumno     
                        </mat-card-title>
                  
                    </mat-card-header>
                    <mat-card-content>
                        <core-input-search-go fxFlex="auto" 
                            [entityName]="'persona'" 
                            [fieldName]="'persona'"></core-input-search-go>        
                    </mat-card-content>
                </mat-card>
            <app-alumno-admin-fieldset-persona
                [control]="controlPersona"
                (onSubmit)="onSubmit($event)"></app-alumno-admin-fieldset-persona>


            <app-alumno-admin-fieldset-alumno
                [control]="controlAlumno"
                (onSubmit)="onSubmit($event)"></app-alumno-admin-fieldset-alumno>

            <app-alumno-admin-table-alumno-comision
                [control]="controlAlumnoComision_"></app-alumno-admin-table-alumno-comision>

            <app-alumno-admin-table-detalle-persona 
                [control]="controlDetallePersona_"
                (onSubmit)="onSubmit($event)"
                (add)="addDetallePersona()"></app-alumno-admin-table-detalle-persona>

        </ng-container>
    </ng-container>
</ng-container>
