
  <mat-card >
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <mat-card-title >Paso 2: Confirmar email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>La pre-inscripción fue realizada con éxito.</p>
      <p>Usted recibirá un email para que confirme los datos ingresados, verifique su casilla de correo.</p>
      <p>Si el email no llega en los próximos minutos, comuníquese con <strong>coordinadores.cens462@gmail.com</strong> informándo el error.</p>
      <p>No olvide verificar su carpeta de correo no deseado.</p>
    </mat-card-content>
  </mat-card>
  