<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<form *ngIf="(loadParams$ | async); else loading" 
      (ngSubmit)="onSubmit()" 
      novalidate autocomplete="off">

  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <mat-progress-bar *ngIf="!load" 
                      mode="indeterminate"></mat-progress-bar>

    <core-table-one [control]="control"
                    [config]="config"
                    [displayedColumns]="displayedColumns"
                    [optColumn]="optColumn">
    </core-table-one>
    
  </ng-container>
  <!-- <p>Debug Form value: {{ control.value | json }}</p>
  <p>Debug Form status: {{ control.status | json }}</p> -->

</form>