<mat-card>
  <mat-card-header>
    <mat-card-title>Horario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let row of fieldset.controls; let i=index" [formGroup]="fg(i)">
    
    <div fxLayout="row" *ngIf="!_delete(i).value">

    <div fxLayout="row" fxFlex="90%" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <app-input-curso-short-select [field]="curso(i)" [id]="idComision" [title]="'Curso'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></app-input-curso-short-select>
        <core-input-select [field]="dia(i)" [entityName]="'dia'" [title]="'Dia'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-select>
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-timepicker [field]="horaInicio(i)" [title]="'Hora Inicio'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-timepicker>
        <core-input-timepicker [field]="horaFin(i)" [title]="'Hora Fin'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-timepicker>
      </div>
    </div>
    <div fxLayout="row" fxFlex="10%" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
      <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
    </div>

    </div>
    
    <div *ngIf="!_delete(i).value"><mat-divider></mat-divider><br></div>

    </div>
    
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>
    
    </mat-card-content>
  </mat-card>
  