<fieldset *ngIf="load$ | async" [formGroup]="fieldset">
  <div class="form-row">
    <div class="form-group col-sm-3">
      <input class="form-control form-control-sm" placeholder="Fecha anio: yyyy" type="text" formControlName="cal_anio">
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="cal_semestre">
        <option [ngValue]="null">--Fecha Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>    
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="sed_centro_educativo">
        <option [ngValue]="null">--Centro Educativo--</option>
        <option *ngFor="let option of (optCentroEducativo$ | async)" [value]="option.id" >{{option.id | label:"centro_educativo"}}</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="modalidad">
        <option [ngValue]="null">--Modalidad--</option>
        <option *ngFor="let option of (optModalidad$ | async)" [value]="option.id" >{{option.id | label:"modalidad"}}</option>
      </select>    
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-4">
      <input placeholder="Número sede" class="form-control form-control-sm" type="text" formControlName="sed_numero_trim">
    </div>
    <div class="form-group col-sm-4">
      <app-typeahead [entityName]="'sede'" [field]="sede" [size]="'sm'"></app-typeahead>
    </div>
    <div class="form-group col-sm-4">
      <input placeholder="División" class="form-control form-control-sm" type="text" formControlName="division">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="pla_plan">
        <option [ngValue]="null">--Plan--</option>
        <option *ngFor="let option of (optPlan$ | async)" [value]="option.id" >{{option.id | label:"plan"}}</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="pla_anio">
        <option [ngValue]="null">--Año--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="pla_semestre">
        <option [ngValue]="null">--Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>
    </div>
    <div class="form-group col-sm-3">
      <select class="form-control form-control-sm" formControlName="turno">
        <option [ngValue]="null">--Turno--</option>
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
            <option value="Noche">Noche</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <select class="form-control form-control-sm" formControlName="autorizada">
        <option [ngValue]="null">--Autorizada--</option>
        <option [ngValue]="'true'">Sí</option>
        <option [ngValue]="'false'">No</option>
      </select>
    </div>
    <div class="form-group col-4">
      <select class="form-control form-control-sm" formControlName="apertura">
        <option [ngValue]="null">--Apertura--</option>
        <option [ngValue]="'true'">Sí</option>
        <option [ngValue]="'false'">No</option>
      </select>
    </div>
    <div class="form-group col-4">
      <select class="form-control form-control-sm" formControlName="publicada">
        <option [ngValue]="null">--Publicada--</option>
        <option [ngValue]="'true'">Sí</option>
        <option [ngValue]="'false'">No</option>
      </select>
    </div>
  </div>