<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<form *ngIf="(loadParams$ | async); else loading" [formGroup]="adminForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
    <div *ngIf="(loadDisplay$ | async); else loading">
      <core-fieldset-dynamic [entityName]="structure[0].id" 
                             [form]="adminForm" 
                             [fieldsViewOptions]="structure[0].fieldsViewOptions" 
                             [data]="data[structure[0].id]" 
                             [title]="structure[0].title"
                             [inputSearchGo]="structure[0].options.inputSearchGo"
                             [validatorOpts]="structure[0].options.validators"
                             [intro]="structure[0].options.intro"
                             
      ></core-fieldset-dynamic>

      <core-fieldset-dynamic [entityName]="structure[1].id" 
                             [form]="adminForm" 
                             [fieldsViewOptions]="structure[1].fieldsViewOptions" 
                             [data]="data[structure[1].id]" 
                             [title]="structure[1].title"
                             [inputSearchGo]="structure[1].options.inputSearchGo"
                             [validatorOpts]="structure[1].options.validators"
                             [intro]="structure[1].options.intro"
                             
      ></core-fieldset-dynamic>

      <app-ia-detalle-persona-fieldset-array
        [fieldsetId]="structure[2].id" 
        [form]="adminForm" 
        [fieldsViewOptions]="structure[2].fieldsViewOptions"
        [data]="data[structure[2].id]" 
        [title]="structure[2].title"
      ></app-ia-detalle-persona-fieldset-array>

        <button mat-raised-button [disabled]="adminForm.pending || isSubmitted" type="submit" color="primary">Aceptar</button>&nbsp;
        <button mat-mini-fab color="accent" type="button"  (click)="back()"><mat-icon>keyboard_backspace</mat-icon></button>
        <button mat-mini-fab color="accent" type="button" (click)="reset()"><mat-icon>clear_all</mat-icon></button>
        <button mat-mini-fab color="accent" type="button" (click)="clear()"><mat-icon>add</mat-icon></button>
        <!--button mat-mini-fab color="warn" type="button" [disabled]="isDeletable" (click)="delete()"><mat-icon>delete</mat-icon></button-->
        <!--p>Debug Form value: {{ adminForm.value | json }}</p>
        <p>Debug Form status: {{ adminForm.status | json }}</p-->
    </div>
</form>
