<table mat-table
    [dataSource]="control.controls"
    class="mat-elevation-z8"
    matSort
    matSortDisableClear
    (matSortChange)="onChangeSort($event)">
   
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef width="25px"  mat-sort-header> Curso </th>
      <td mat-cell *matCellDef="let row; let i = index;">
        <mat-form-field >
          <mat-select [formControl]="row.controls['curso']" placeholder="Seleccione curso">
            <mat-option [value]="null">--Seleccione--</mat-option>
            <mat-option *ngFor="let opt of options['curso']" [value]="opt['id']">
              {{opt["asignatura-nombre"]}}
            </mat-option>
          </mat-select>
         
          <mat-error >
            <span *ngIf="row.controls['curso'].hasError('required')">Debe seleccionar valor</span>
          </mat-error>
        </mat-form-field>
      </td>
      </ng-container>
   
      <ng-container matColumnDef="dia">
      <th mat-header-cell *matHeaderCellDef width="100px" mat-sort-header> Dia </th>
      <td mat-cell *matCellDef="let row; let i = index;">
        <mat-form-field >
          <mat-select [formControl]="row.controls['dia']" placeholder="Seleccione día">
            <mat-option [value]="null">--Seleccione--</mat-option>
            <mat-option *ngFor="let opt of options['dia']" [value]="opt['id']">
              {{opt["label"]}}
            </mat-option>
          </mat-select>
          <mat-error >
            <span *ngIf="row.controls['dia'].hasError('required')">Debe seleccionar valor</span>
          </mat-error>
        </mat-form-field>
      
      </td>
      </ng-container>
 
      
    <ng-container matColumnDef="hora_inicio">
        <th mat-header-cell *matHeaderCellDef  width="25px"  mat-sort-header> Inicio </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <mat-form-field>
                <input  matInput
                    type="time"
                    [formControl]="row.controls['hora_inicio']"
                    placeholder="Ingrese hora de inicio">
                <mat-error >
                  <span *ngIf="row.controls['hora_inicio'].hasError('required')">Debe ingresar valor</span>
                </mat-error>
            </mat-form-field> 
        </td>
    </ng-container>
 
    <ng-container matColumnDef="hora_fin">
        <th mat-header-cell *matHeaderCellDef  width="25px"  mat-sort-header> Fin </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <mat-form-field>
                <input  matInput
                       type="time"
                       [formControl]="row.controls['hora_fin']"
                       placeholder="Ingrese hora de fin">
                <mat-error >
                  <span *ngIf="row.controls['hora_fin'].hasError('required')">Debe ingresar valor</span>
                </mat-error>
            </mat-form-field> 
           
        </td>
    </ng-container>
 
    
    <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef  width="25px"> Opciones </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        <button type="button"
        mat-mini-fab
        title="Eliminar horario"
        color="warn"
        (click)="remove(i)">
        <mat-icon>delete</mat-icon></button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        [hidden]="row.controls.hasOwnProperty('_mode') && (row.controls['_mode'].value == 'delete')"
        *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>

 
<mat-toolbar>
  <mat-toolbar-row>
      <button  
      type="button"
      mat-mini-fab
      color="accent"
      title="Agregar curso"
      (click)="add.emit()"><mat-icon>add</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
