<mat-card>
  <mat-card-header>
    <mat-card-title fxFlex="auto">
      {{title}}    
    </mat-card-title>
    <!--core-input-search-go *ngIf="inputSearchGo" fxFlex="auto" [entityName]="entityName"></core-input-search-go-->
  </mat-card-header>
  <mat-card-content>
    <div class="mat-subheading-2 highlightText"><p>Ingrese fotos de frente y dorso de DNI, Certificado de Estudios, Partida de Nacimiento y cualquier otra información que nos ayude a definir su situación académica</p></div>
    <div  *ngFor="let row of fieldset.controls; let i=index" [formGroup]="fg(i)">
      <div fxLayout="row wrap" *ngIf="!_delete(i).value">
        <div fxLayout="row wrap" fxFlex="90%">
          <div *ngFor="let fvo of fieldsViewOptionsFilter" 
          class="item" 
          [fxFlex.xs]="fvo.width.xs" 
          [fxFlex.sm]="fvo.width.sm" 
          [fxFlex.md]="fvo.width.md" 
          [fxFlex.lg]="fvo.width.lg" 
          [fxFlex.xl]="fvo.width.xl" 
          [fxFlex.lt-sm]="fvo.width.ltSm"
          [fxFlex.lt-md]="fvo.width.ltMd"
          [fxFlex.lt-lg]="fvo.width.ltLg"
          [fxFlex.lt-xl]="fvo.width.ltXl"
          [fxFlex.gt-xs]="fvo.width.gtXs"
          [fxFlex.gt-sm]="fvo.width.gtSm" 
          [fxFlex.gt-md]="fvo.width.gtMd" 
          [fxFlex.gt-lg]="fvo.width.gtLg" 
        >
            <core-field-view [fieldViewOptions]="fvo" [field]="fg(i).controls[fvo.field]"></core-field-view>  
          </div>
        </div>

        <div fxFlex="10%">
          <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
        </div>
      </div>

      <div *ngIf="!_delete(i).value"><mat-divider></mat-divider><br></div>
    </div>
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>

  </mat-card-content>
</mat-card>