
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['nombre'])">Nombre</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['formacion'])">Formacion</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['clasificacion'])">Clasificacion</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['codigo'])">Codigo</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['perfil'])">Perfil</button></th>
            <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of (data$ | async); let i = index">
              <td>{{row.nombre}}</td>
              <td>{{row.formacion}}</td>
              <td>{{row.clasificacion}}</td>
              <td>{{row.codigo}}</td>
              <td>{{row.perfil}}</td>
              <td>
              <a class="btn btn-warning btn-sm" [routerLink]="['/asignatura-admin']" [queryParams]="{id:row.id}" ><span class="oi oi-pencil" title="Modificar"></span></a>
              <!-- button class="btn btn-danger btn-sm" type="button" ><span class="oi oi-trash" title="Eliminar"></span></button -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
