

<div *ngIf="load$ | async">
  
    <input 
      #fileSelection
      hidden  
      type="file" 
      (change)="onFileSelect($event)" 
      [formControl]="fileControl"
    />
  
    <mat-form-field *ngIf="!control.value">
      <mat-label>Archivo</mat-label>
      <input 
        type="text" 
        matInput 
        readonly 
        (click)="OpenAddFilesDialog()" 
      >
      <mat-icon matSuffix (click)="OpenAddFilesDialog()">upload</mat-icon>
    </mat-form-field>
  
    <mat-form-field *ngIf="control.value && file">
      <mat-label>Archivo</mat-label>
      <input type="text" matInput readonly value="{{file.name}}">
      <div matSuffix style="display:flex">
        <button mat-icon-button type="button">
          <a [href]="file.link" target="_blank" [download]="file.name"><mat-icon>cloud_download</mat-icon></a>
        </button>
        <button mat-icon-button type="button">
          <mat-icon (click)="control.setValue(null)">clear</mat-icon>
        </button>
      </div>
  
    </mat-form-field>
  </div>