<fieldset *ngIf="load$ | async" [formGroup]="form">
  <div formArrayName="order">
    <div class="form-row align-items-center" *ngFor="let element of elements.controls; let i=index" [formGroupName]="i">
      <div class="col-xs-4">
        <select class="form-control form-control-sm" formControlName="key" [ngClass]="{'is-invalid':(k(i).invalid && (k(i).dirty || k(i).touched))}">
          <option value="">--Seleccione--</option>
          <option value="sed_numero">Numero Sede</option>
          <option value="pla_anio">Año Plan </option>
          <option value="pla_semestre">Semestre Plan </option>
          <option value="turno">Turno</option>
          <option value="division">Division</option>
          <option value="autorizada">Autorizada</option>
          <option value="apertura">Apertura</option>
          <option value="publicada">Publicada</option>
          <option value="modalidad">Modalidad</option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control form-control-sm" formControlName="value">
          <option value="asc">ASC</option>
          <option value="desc">DESC</option>
        </select>  
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeElement(i)"><span class="oi oi-x"></span></button>
        <button *ngIf="(i == 0)" type="button" class="btn btn-info btn-sm" (click)="unshiftElement()"><span class="oi oi-arrow-thick-top"></span></button>
        <button *ngIf="(elements.controls.length == (i+1))" type="button" class="btn btn-info btn-sm" (click)="pushElement()"><span class="oi oi-arrow-thick-bottom"></span></button>
      </div>
    </div>
  </div>

  <div *ngIf="(elements.controls.length == 0)" class="form-row">
    <div class="col">
      Orden: <button type="button" class="btn btn-info btn-sm" (click)="pushElement()"><span class="oi oi-layers"></span></button>
    </div>
  </div>
</fieldset>

