<div class="container">
<div *ngIf="curso$ | async as data" class="card">
  <div class="card-header">
    Curso {{data.id | label:"curso"}}
  </div>

  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Horas Catedra</dt>
      <dd class="col-sm-9">{{data.horas_catedra}}</dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3">Comision</dt>
      <dd class="col-sm-9">
        <a *ngIf="data.comision; else sinComision" [routerLink]="['/comision-detail']" [queryParams]="{id:data.comision}" ><app-label [id]="data.comision" [entityName]="'comision'"></app-label></a>
        <ng-template #sinComision>No se han encontrado registros</ng-template>
      </dd>
    </dl>

    <dl class="row">
      <dt class="col-sm-3">Asignatura</dt>
      <dd class="col-sm-9">
        <a *ngIf="data.asignatura; else sinAsignatura" [routerLink]="['/asignatura-detail']" [queryParams]="{id:data.asignatura}" ><app-label [id]="data.asignatura" [entityName]="'asignatura'"></app-label></a>
        <ng-template #sinAsignatura>No se han encontrado registros</ng-template>
      </dd>
    </dl>

  </div>
</div>
</div>
