<mat-card>
  <mat-card-header>
    <mat-card-title>Curso <core-label *ngIf="idValue" [id]="idValue" [entityName]="idName"></core-label></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let row of fieldset.controls; let i=index" [formGroup]="fg(i)">
    
    <div fxLayout="row" *ngIf="!_delete(i).value">

    <div fxLayout="row" fxFlex="90%" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select [field]="asignatura(i)" [entityName]="'asignatura'" [title]="'Asignatura'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-select>
        <core-input-text [field]="horasCatedra(i)" [title]="'Horas Catedra'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>        
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="numeroDocumentoDesignado(i)" [title]="'Numero Documento Designado'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="ige(i)" [title]="'Ige'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>  

    <div fxLayout="row" fxFlex="10%" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="center center">
      <button mat-mini-fab color="warn" (click)="remove(i)" type="button"><mat-icon>delete</mat-icon></button>
    </div>

    </div>

    <div *ngIf="!_delete(i).value"><mat-divider></mat-divider><br></div>
    
    </div>
    <button mat-mini-fab color="primary" (click)="add()" type="button"><mat-icon>add</mat-icon></button>
    
    </mat-card-content>
  </mat-card>
  