<mat-card>
  <mat-card-header>
    <mat-card-title>Comision</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" [formGroup]="fieldset">
    <core-input-autocomplete fxFlex="50%" fxFlex.xs="100%" [field]="sede" [entityName]="'sede'" [title]="'Sede'" fxFlex.xs="100%" fxFlex="50%" fxLayoutAlign="center center"></core-input-autocomplete>
    <mat-checkbox fxFlex="17%" fxFlex.xs="33%" formControlName="apertura" fxLayoutAlign="center center">Apertura</mat-checkbox>
    <mat-checkbox fxFlex="17%" fxFlex.xs="33%" formControlName="publicada" fxLayoutAlign="center center">Publicada</mat-checkbox>
    <mat-checkbox fxFlex="16%" fxFlex.xs="33%" formControlName="autorizada" fxLayoutAlign="center center">Autorizada</mat-checkbox>
    <div fxFlex="100%" *ngIf="divisiones">
      Divisiones existentes: {{divisiones}}
    </div>
    <core-input-text fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" [field]="division" [title]="'Division'"></core-input-text>
    <calendario-input-select fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" [field]="calendario" [entityName]="'calendario'" [title]="'Calendario'"></calendario-input-select>
    <core-input-select fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" [field]="modalidad" [entityName]="'modalidad'" [title]="'Modalidad'"></core-input-select>
    <core-input-select-param fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" [field]="turno" [options]="['Mañana','Tarde','Noche']" [title]="'Turno'"></core-input-select-param>
    <app-planificacion-input-picker fxFlex="50%" fxFlex.xs="100%"  fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column" [field]="planificacion"></app-planificacion-input-picker>  
    <core-input-text  fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" [field]="identificacion" [title]="'Identificacion'"></core-input-text>
    <core-input-autocomplete  fxFlex="25%" fxFlex.lt-md="50%" fxFlex.xs="100%" fxFlex="25%" [field]="comisionSiguiente" [entityName]="'comision'" [title]="'Comision Siguiente'"></core-input-autocomplete>
    <core-input-textarea [field]="observaciones"  fxFlex="50%" fxFlex.lt-md="50%" fxFlex.xs="100%" [title]="'Observaciones'"></core-input-textarea>
    <core-input-textarea [field]="comentario"  fxFlex="50%" fxFlex.lt-md="50%" fxFlex.xs="100%" [title]="'Comentario'"></core-input-textarea>
    
    <mat-error *ngIf="fieldset.hasError('multiple')">
      Existen múltiples comisiones para la combinación modalidad/planificación seleccionada
    </mat-error>
    <mat-error *ngIf="fieldset.hasError('planificacion')">
      La Planificación no puede estar vacía para la modalidad seleccionada
    </mat-error>  
    <mat-error *ngIf="fieldset.hasError('notUnique')">
      Ya existe una comisión para la combinación modalidad/planificación seleccionada <a routerLink="/comision-admin" [queryParams]="{id:fieldset.errors['notUnique']}">Cargar</a>
    </mat-error>
  </mat-card-content>
</mat-card>
