<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Turno:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="turno" [ngClass]="{'is-invalid':(turno.invalid && (turno.dirty || turno.touched))}">
        <option [ngValue]="null">--Turno--</option>
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
            <option value="Noche">Noche</option>
      </select>
      <div class="text-danger" *ngIf="(turno.touched || turno.dirty) && turno.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Division</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="division"  [ngClass]="{'is-invalid':(division.invalid && (division.dirty || division.touched))}">
      <div class="text-danger" *ngIf="(division.touched || division.dirty) && division.invalid">
        <div *ngIf="division.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Anio:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="anio" [ngClass]="{'is-invalid':(anio.invalid && (anio.dirty || anio.touched))}">
        <option [ngValue]="null">--Anio--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
      </select>
      <div class="text-danger" *ngIf="(anio.touched || anio.dirty) && anio.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Semestre:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="semestre" [ngClass]="{'is-invalid':(semestre.invalid && (semestre.dirty || semestre.touched))}">
        <option [ngValue]="null">--Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>
      <div class="text-danger" *ngIf="(semestre.touched || semestre.dirty) && semestre.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Comentario</label>
    <div class="col-sm-10">
      <textarea class="form-control" type="text" formControlName="comentario"  [ngClass]="{'is-invalid':(comentario.invalid && (comentario.dirty || comentario.touched))}"></textarea>
      <div class="text-danger" *ngIf="(comentario.touched || comentario.dirty) && comentario.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="autorizada"> autorizada
    </label>
      <div class="text-danger" *ngIf="(autorizada.touched || autorizada.dirty) && autorizada.invalid">
      </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="apertura"> apertura
    </label>
      <div class="text-danger" *ngIf="(apertura.touched || apertura.dirty) && apertura.invalid">
      </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="publicada"> publicada
    </label>
      <div class="text-danger" *ngIf="(publicada.touched || publicada.dirty) && publicada.invalid">
      </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Fecha anio</label>
    <div class="col-sm-10">
      <input class="form-control" placeholder="yyyy" type="text" formControlName="fecha_anio"  [ngClass]="{'is-invalid':(fechaAnio.invalid && (fechaAnio.dirty || fechaAnio.touched))}">
      <div class="text-danger" *ngIf="(fechaAnio.touched || fechaAnio.dirty) && fechaAnio.invalid">
        <div *ngIf="fechaAnio.errors.nonNumeric">Ingrese sólo números</div>
        <div *ngIf="fechaAnio.errors.notYear">No es un año válido</div>    
        <div *ngIf="fechaAnio.errors.minYear">Valor no permitido</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Fecha Semestre:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="fecha_semestre" [ngClass]="{'is-invalid':(fechaSemestre.invalid && (fechaSemestre.dirty || fechaSemestre.touched))}">
        <option [ngValue]="null">--Fecha Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>
      <div class="text-danger" *ngIf="(fechaSemestre.touched || fechaSemestre.dirty) && fechaSemestre.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Observaciones</label>
    <div class="col-sm-10">
      <textarea class="form-control" type="text" formControlName="observaciones"  [ngClass]="{'is-invalid':(observaciones.invalid && (observaciones.dirty || observaciones.touched))}"></textarea>
      <div class="text-danger" *ngIf="(observaciones.touched || observaciones.dirty) && observaciones.invalid">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sede</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead [data$]="data$" [fieldset]="fieldset" [entityName]="'sede'" [fieldName]="'sede'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(sede.touched || sede.dirty) && sede.invalid">
        <div *ngIf="sede.errors.required">Debe completar valor</div>
        <div *ngIf="(sede.touched && sede.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Plan</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="plan" [ngClass]="{'is-invalid':(plan.invalid && (plan.dirty || plan.touched))}">
        <option [ngValue]="null">--Plan--</option>
        <option *ngFor="let option of (optPlan$ | async)" [value]="option.id" >{{option.id | label:"plan"}}</option>
      </select>
      <div class="text-danger" *ngIf="(plan.touched || plan.dirty) && plan.invalid">
        <div *ngIf="plan.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Modalidad</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="modalidad" [ngClass]="{'is-invalid':(modalidad.invalid && (modalidad.dirty || modalidad.touched))}">
        <option [ngValue]="null">--Modalidad--</option>
        <option *ngFor="let option of (optModalidad$ | async)" [value]="option.id" >{{option.id | label:"modalidad"}}</option>
      </select>
      <div class="text-danger" *ngIf="(modalidad.touched || modalidad.dirty) && modalidad.invalid">
        <div *ngIf="modalidad.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Comision Siguiente</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead  [data$]="data$" [fieldset]="fieldset" [entityName]="'comision'" [fieldName]="'comision_siguiente'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(comisionSiguiente.touched || comisionSiguiente.dirty) && comisionSiguiente.invalid">
        <div *ngIf="(comisionSiguiente.touched && comisionSiguiente.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="text-danger" *ngIf="fieldset.errors">
    <div *ngIf="fieldset.errors.notUnique">El valor ya se encuentra utilizado: <a routerLink="/comision-admin" [queryParams]="{'id':fieldset.errors.notUnique}">Cargar</a></div>
  </div>
</fieldset>
