<mat-card [formGroup]="fieldset">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%"  fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-year fxFlex="50%" fxFlex.xs="100%" [field]="calAnio" [title]="'Fecha Año'"></core-input-year>
        <core-input-select-value fxFlex="50%" fxFlex.xs="100%" [field]="calSemestre" [fieldName]="'semestre'" [entityName]="'calendario'" [title]="'Fecha semestre'"></core-input-select-value>
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select-param fxFlex="50%" fxFlex.xs="100%" [field]="turno" [options]="['Mañana', 'Tarde', 'Noche']" [title]="'Turno'"></core-input-select-param>
        <core-input-text fxFlex="50%" fxFlex.xs="100%" [field]="division" [title]="'Division'"></core-input-text>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select fxFlex="50%" fxFlex.xs="100%" [field]="sedCentroEducativo" [entityName]="'centro_educativo'" [title]="'Centro Educativo'"></core-input-select>
        <core-input-autocomplete fxFlex="50%" fxFlex.xs="100%" [field]="sede" [entityName]="'sede'" [title]="'Sede'"></core-input-autocomplete>
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select-value fxFlex="33%" fxFlex.xs="100%" [field]="plaAnio" [fieldName]="'anio'" [entityName]="'planificacion'" [title]="'Año'"></core-input-select-value>
        <core-input-select-value fxFlex="33%" fxFlex.xs="100%" [field]="plaSemestre" [fieldName]="'semestre'" [entityName]="'planificacion'" [title]="'Semestre'"></core-input-select-value>
        <core-input-select fxFlex="33%" fxFlex.xs="100%" [field]="plaPlan" [entityName]="'plan'" [title]="'Plan'"></core-input-select>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <core-input-select-checkbox fxFlex="33%" fxFlex.xs="100%" [field]="autorizada" [title]="'Autorizada'"></core-input-select-checkbox>
      <core-input-select-checkbox fxFlex="33%" fxFlex.xs="100%" [field]="publicada" [title]="'Publicada'"></core-input-select-checkbox>
      <core-input-select-checkbox fxFlex="33%" fxFlex.xs="100%" [field]="apertura" [title]="'Apertura'"></core-input-select-checkbox>

    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text fxFlex="50%" fxFlex.xs="100%" [field]="sedNumeroTrim" [title]="'Número Sede'"></core-input-text>
        <core-input-select fxFlex="50%" fxFlex.xs="100%" [field]="modalidad" [entityName]="'modalidad'" [title]="'Modalidad'"></core-input-select>
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-autocomplete fxFlex="50%" fxFlex.xs="100%" [field]="comisionSiguiente" [entityName]="'comision'" [title]="'Comision Siguiente'"></core-input-autocomplete>
        <core-input-select fxFlex="50%" fxFlex.xs="100%" [field]="calendario" [entityName]="'calendario'" [title]="'Calendario'"></core-input-select>
      </div>
    </div>
  </mat-card-content>
</mat-card>
