<table mat-table
    [dataSource]="control.controls"
    class="table mat-elevation-z8">
 
    <ng-container matColumnDef="persona-apellidos" >
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['persona-apellidos'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="persona-nombres" >
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['persona-nombres'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="persona-numero_documento" >
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['persona-numero_documento'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="persona-telefono" >
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            <a 
                target="_blank"
                href="https://web.whatsapp.com/send?phone=549{{row.controls['persona-telefono'].value}}">
                {{row.controls['persona-telefono'].value}}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="persona-email" >
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['persona-email'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="alumno-estado_inscripcion" >
        <th mat-header-cell *matHeaderCellDef> Inscripcion </th>
        <td mat-cell *matCellDef="let row; let i = index;"
        [ngClass]="{
            'highlightGreen': row.controls['alumno-estado_inscripcion'].value == 'Correcto',
            'highlightYellow': row.controls['alumno-estado_inscripcion'].value == 'Correcto incompleto',
            'highlightRed': (row.controls['alumno-estado_inscripcion'].value == 'Indeterminado' || row.controls['alumno-estado_inscripcion'].value == 'Caso particular' || !row.controls['alumno-estado_inscripcion'].value)
        }">
        {{row.controls['alumno-estado_inscripcion'].value}}
        </td>
    </ng-container>


    <ng-container matColumnDef="alumno-tramo_ingreso" >
        <th mat-header-cell *matHeaderCellDef> Ingreso </th>
        <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['alumno-tramo_ingreso'].value}}
        </td>
    </ng-container>
 
 

    <ng-container matColumnDef="cantidad_aprobadas_11" >
        <th mat-header-cell *matHeaderCellDef> -11- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
        [ngClass]="{
            'highlightBlue': (row.controls['alumno-tramo_ingreso'].value > '11' || row.controls['planificacion-tramo'].value <= '11') && !row.controls['cantidad_aprobadas_11'].value,
            'highlightGreen': (row.controls['cantidad_aprobadas_11'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '11'),
            'highlightYellow': (row.controls['cantidad_aprobadas_11'].value < 5 && row.controls['cantidad_aprobadas_11'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '11'),
            'highlightRed': (row.controls['cantidad_aprobadas_11'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '11' && row.controls['planificacion-tramo'].value > '11')
        }">
        {{row.controls['cantidad_aprobadas_11'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_aprobadas_12" >
        <th mat-header-cell *matHeaderCellDef> -12- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightBlue': (row.controls['alumno-tramo_ingreso'].value > '12' || row.controls['planificacion-tramo'].value <= '12') && !row.controls['cantidad_aprobadas_12'].value,
                'highlightGreen': (row.controls['cantidad_aprobadas_12'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '12' && row.controls['planificacion-tramo'].value > '12'),
                'highlightYellow': (row.controls['cantidad_aprobadas_12'].value < 5 && row.controls['cantidad_aprobadas_12'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '12' && row.controls['planificacion-tramo'].value > '12'),
                'highlightRed': (row.controls['cantidad_aprobadas_12'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '12' && row.controls['planificacion-tramo'].value > '12')
            }">
        {{row.controls['cantidad_aprobadas_12'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_aprobadas_21" >
        <th mat-header-cell *matHeaderCellDef> -21- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightBlue': (row.controls['alumno-tramo_ingreso'].value > '21' || row.controls['planificacion-tramo'].value <= '21')  && !row.controls['cantidad_aprobadas_21'].value,
                'highlightGreen': (row.controls['cantidad_aprobadas_21'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '21' && row.controls['planificacion-tramo'].value > '21'),
                'highlightYellow': (row.controls['cantidad_aprobadas_21'].value < 5 && row.controls['cantidad_aprobadas_21'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '21' && row.controls['planificacion-tramo'].value > '21'),
                'highlightRed': (row.controls['cantidad_aprobadas_21'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '21' && row.controls['planificacion-tramo'].value > '21')
            }">
        {{row.controls['cantidad_aprobadas_21'].value}}
        </td>
    </ng-container>


    <ng-container matColumnDef="cantidad_aprobadas_22" >
        <th mat-header-cell *matHeaderCellDef> -22- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightBlue': (row.controls['alumno-tramo_ingreso'].value > '22' || row.controls['planificacion-tramo'].value <= '22') && !row.controls['cantidad_aprobadas_22'].value,
                'highlightGreen': (row.controls['cantidad_aprobadas_22'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '22' && row.controls['planificacion-tramo'].value > '22'),
                'highlightYellow': (row.controls['cantidad_aprobadas_22'].value < 5 && row.controls['cantidad_aprobadas_22'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '22' && row.controls['planificacion-tramo'].value > '22'),
                'highlightRed': (row.controls['cantidad_aprobadas_22'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '22' && row.controls['planificacion-tramo'].value > '22')
            }">
        {{row.controls['cantidad_aprobadas_22'].value}}
        </td>
    </ng-container>


    <ng-container matColumnDef="cantidad_aprobadas_31" >
        <th mat-header-cell *matHeaderCellDef> -31- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightBlue': (row.controls['alumno-tramo_ingreso'].value > '31' || row.controls['planificacion-tramo'].value <= '31') && !row.controls['cantidad_aprobadas_31'].value,
                'highlightGreen': (row.controls['cantidad_aprobadas_31'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '31' && row.controls['planificacion-tramo'].value > '31'),
                'highlightYellow': (row.controls['cantidad_aprobadas_31'].value < 5 && row.controls['cantidad_aprobadas_31'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '31' && row.controls['planificacion-tramo'].value > '31'),
                'highlightRed': (row.controls['cantidad_aprobadas_31'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '31' && row.controls['planificacion-tramo'].value > '31')
            }">
        {{row.controls['cantidad_aprobadas_31'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_aprobadas_32" >
        <th mat-header-cell *matHeaderCellDef> -32- </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightBlue': row.controls['planificacion-tramo'].value <= '32' && !row.controls['cantidad_aprobadas_32'].value,
                'highlightGreen': (row.controls['cantidad_aprobadas_32'].value == 5 && row.controls['alumno-tramo_ingreso'].value <= '32' && row.controls['planificacion-tramo'].value < '32'),
                'highlightYellow': (row.controls['cantidad_aprobadas_32'].value < 5 && row.controls['cantidad_aprobadas_32'].value > 2 && row.controls['alumno-tramo_ingreso'].value <= '32' && row.controls['planificacion-tramo'].value < '32'),
                'highlightRed': (row.controls['cantidad_aprobadas_32'].value < 3 && row.controls['alumno-tramo_ingreso'].value <= '32' && row.controls['planificacion-tramo'].value > '32')
            }">
            {{row.controls['cantidad_aprobadas_32'].value}}
        </td>
    </ng-container>

    

    <ng-container matColumnDef="alumno-tiene_constancia" >
        <th mat-header-cell *matHeaderCellDef> Constancia </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightGreen': row.controls['alumno-tiene_constancia'].value && !row.controls['alumno-tiene_certificado'].value,
                'highlightRed': !row.controls['alumno-tiene_constancia'].value && !row.controls['alumno-tiene_certificado'].value,
                'highlightBlue': !row.controls['alumno-tiene_constancia'].value && row.controls['alumno-tiene_certificado'].value
            }">
            {{row.controls['alumno-tiene_constancia'].value | siNo}}
        </td>
    </ng-container>

    <ng-container matColumnDef="alumno-previas_completas" >
        <th mat-header-cell *matHeaderCellDef> Previas </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightGreen': row.controls['alumno-previas_completas'].value,
                'highlightRed': !row.controls['alumno-previas_completas'].value
            }">
            {{row.controls['alumno-previas_completas'].value | siNo}}
        </td>
    </ng-container>


    <ng-container matColumnDef="alumno-tiene_certificado" >
        <th mat-header-cell *matHeaderCellDef> Certificado </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightGreen': row.controls['alumno-tiene_certificado'].value,
                'highlightRed': !row.controls['alumno-tiene_certificado'].value
            }">
            {{row.controls['alumno-tiene_certificado'].value | siNo}}
        </td>
    </ng-container>


    <ng-container matColumnDef="comision-label" >
        <th mat-header-cell *matHeaderCellDef> Çomisión </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            {{row.controls['comision-label'].value}}
        </td>
    </ng-container>

    <ng-container matColumnDef="alumno-observaciones" >
        <th mat-header-cell *matHeaderCellDef> Observaciones </th>
        <td [title]="row.controls['alumno-observaciones'].value" mat-cell *matCellDef="let row; let i = index;">
            {{row.controls['alumno-observaciones'].value | summary:25}} 
        </td>
    </ng-container>


    <ng-container matColumnDef="estado" >
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{
                'highlightGreen': row.controls['estado'].value == 'Activo',
                'highlightYellow':  row.controls['estado'].value == 'Mesa',
                'highlightRed':  row.controls['estado'].value == 'No activo'
            }">
            {{row.controls['estado'].value}}
        </td>
    </ng-container>


 
  
 
    <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        <a [routerLink]="'/alumno-admin2'"
            [queryParams]="{'id':row.controls['alumno-id'].value}"
            [title]="'Administrar Alumno'"><mat-icon>edit</mat-icon></a>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>
