<div class="container">
    <app-comision-card [data$]="data$"></app-comision-card>

    <div class="card" >
        <div class="card-header" (click)="optVer = !optVer">Ver Horarios</div>
        <div class="card-body" [hidden]="!optVer">
            <app-comision-horario-grid [data$]="data$"></app-comision-horario-grid> 
            <app-comision-curso-grid [data$]="data$"></app-comision-curso-grid>
        </div>
    </div>
    <div class="card" >
        <div class="card-header" (click)="optOpciones = !optOpciones">Opciones</div>
        <div class="card-body" [hidden]="!optOpciones">
             <button type="button" class="btn btn-danger" (click)="eliminarHorarios()">Eliminar Horarios</button>&nbsp;
        </div>
    </div>
    <div class="card" >
        <div class="card-header" (click)="optCrear = !optCrear;">Crear Horarios</div>
        <div class="card-body" [hidden]="!optCrear">
            <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" novalidate>
                <app-crear-horarios-comision [form]="adminForm" [data$]="data$"></app-crear-horarios-comision>
                <button type="submit" class="btn btn-primary">Aceptar</button>&nbsp;
                <!--p>Debug Form value: {{ adminForm.value | json }}</p>
                <p>Debug Form status: {{ adminForm.status | json }}</p-->
            </form>
        </div>
    </div>
</div>