<fieldset [formGroup]="fieldset">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Curso</label>
    <div class="col-sm-10">
      <app-typeahead [readonly]="true" [entityName]="'curso'" [field]="curso"></app-typeahead>
      <div class="text-danger" *ngIf="(curso.touched || curso.dirty) && curso.invalid">
        <div *ngIf="curso.errors.required">Debe completar valor</div>
        <div *ngIf="(curso.touched && curso.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Dia</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="dia" [ngClass]="{'is-invalid':(dia.invalid && (dia.dirty || dia.touched))}">
        <option [ngValue]="null">--Dia--</option>
        <option *ngFor="let option of (options | async)?.dia" [value]="option.id" >{{option.id | label:"dia"}}</option>
      </select>
      <div class="text-danger" *ngIf="(dia.touched || dia.dirty) && dia.invalid">
        <div *ngIf="dia.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Hora inicio</label>
    <div class="col-sm-10">
      <ngb-timepicker formControlName="hora_inicio" [spinners]="false" [ngClass]="{'is-invalid':(horaInicio.invalid && (horaInicio.dirty || horaInicio.touched))}"></ngb-timepicker>
      <div class="text-danger" *ngIf="(horaInicio.touched || horaInicio.dirty) && horaInicio.invalid">
        <div *ngIf="horaInicio.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Hora fin</label>
    <div class="col-sm-10">
      <ngb-timepicker  [spinners]="false"  formControlName="hora_fin"  [ngClass]="{'is-invalid':(horaFin.invalid && (horaFin.dirty || horaFin.touched))}"></ngb-timepicker>
      <div class="text-danger" *ngIf="(horaFin.touched || horaFin.dirty) && horaFin.invalid">
        <div *ngIf="horaFin.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  
</fieldset>
