
<form [formGroup]="adminForm" (ngSubmit)="onSubmit()" novalidate>
  <app-horario-fieldset [form]="adminForm" [data$]="data$"></app-horario-fieldset>
  <button [disabled]="adminForm.pending" type="submit" class="btn btn-primary">Aceptar</button>&nbsp;
  <button type="button" class="btn btn-secondary" (click)="back()"><span class="oi oi-arrow-thick-left" title="Volver"></span></button>
  <button type="button" (click)="reset()" class="btn btn-secondary" ><span class="oi oi-reload" title="Restablecer"></span></button>

  <!--p>Debug Form value: {{ adminForm.value | json }}</p>
  <p>Debug Form status: {{ adminForm.status | json }}</p-->
</form>
