<table mat-table
    [dataSource]="control.controls"
    class="mat-elevation-z8">
 
    <ng-container matColumnDef="label" >
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let row; let i = index;">
          <a [routerLink]="'/comision-admin'"
              [queryParams]="{'id':row.controls['id'].value}"       
              [title]="'Administrar Comision'">{{row.controls['label'].value}}</a>
        </td>
    </ng-container>
 
    <ng-container matColumnDef="sede" >
        <th mat-header-cell *matHeaderCellDef > Sede </th>
        <td mat-cell *matCellDef="let row; let i = index;">
          <a [routerLink]="'/sede-admin'"
          [queryParams]="{'id':row.controls['sede-id'].value}"       
          [title]="'Administrar Sede'">{{row.controls['sede'].value}}</a>
        </td>
    </ng-container>
 
    <ng-container matColumnDef="domicilio">
    <th mat-header-cell *matHeaderCellDef > Domicilio </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['domicilio'].value}}
    </td>
    </ng-container>
 
    <ng-container matColumnDef="tramo">
    <th mat-header-cell *matHeaderCellDef > Tramo </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['tramo'].value}}
    </td>
    </ng-container>
 
    <ng-container matColumnDef="horario">
    <th mat-header-cell *matHeaderCellDef > Horario </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        {{row.controls['horario'].value}}
    </td>
    </ng-container>

    <ng-container matColumnDef="calendario">
      <th mat-header-cell *matHeaderCellDef > Calendario </th>
      <td mat-cell *matCellDef="let row; let i = index;">
          {{row.controls['calendario'].value}}
      </td>
      </ng-container>

      <ng-container matColumnDef="modalidad-nombre">
        <th mat-header-cell *matHeaderCellDef > Modalidad </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            {{row.controls['modalidad-nombre'].value}}
        </td>
      </ng-container>

      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef > Turno </th>
        <td mat-cell *matCellDef="let row; let i = index;">
            {{row.controls['turno'].value}}
        </td>
      </ng-container>

      <ng-container matColumnDef="autorizada">
        <th mat-header-cell *matHeaderCellDef > Autorizada </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{'highlightRed': !row.controls['autorizada'].value}">
            {{row.controls['autorizada'].value | siNo}}
        </td>
      </ng-container>
 
      <ng-container matColumnDef="apertura">
        <th mat-header-cell *matHeaderCellDef > Apertura </th>
        <td mat-cell *matCellDef="let row; let i = index;"
            [ngClass]="{'highlightBlue': row.controls['apertura'].value}">
            {{row.controls['apertura'].value | siNo}}
        </td>
      </ng-container>

    <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let row; let i = index;">
        <a mat-mini-fab 
            [routerLink]="'/comision-admin'"
            [queryParams]="{'id':row.controls['id']!.value}"       
            title="Administrar comisión"> <mat-icon>edit</mat-icon> </a>
        <a mat-mini-fab 
            [routerLink]="'/sede-admin'"
            [queryParams]="{'id':row.controls['sede-id']!.value}"       
            title="Administrar sede"> <mat-icon>place</mat-icon> </a>

    </td> 
    <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
</table>
