<fieldset *ngIf="load$ | async" [formGroup]="fieldset">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sede</label>
    <div class="col-sm-10">
      <app-typeahead [field]="sede" [entityName]="'sede'"></app-typeahead>
      <div class="text-danger" *ngIf="(sede.touched || sede.dirty) && sede.invalid">
        <div *ngIf="sede.errors.required">Debe completar valor</div>
        <div *ngIf="(sede.touched && sede.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Division</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="division"  [ngClass]="{'is-invalid':(division.invalid && (division.dirty || division.touched))}">
      <div class="text-danger" *ngIf="(division.touched || division.dirty) && division.invalid">
        <div *ngIf="division.errors.required">Debe completar valor</div>
      </div>
      <div>Divisiones existentes: {{divisiones}}</div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Turno:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="turno" [ngClass]="{'is-invalid':(turno.invalid && (turno.dirty || turno.touched))}">
        <option [ngValue]="null">--Turno--</option>
            <option value="Mañana">Mañana</option>
            <option value="Tarde">Tarde</option>
            <option value="Noche">Noche</option>
      </select>
      <div class="text-danger" *ngIf="(turno.touched || turno.dirty) && turno.invalid">
      </div>
    </div>
  </div>
  
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Comentario</label>
    <div class="col-sm-10">
      <textarea class="form-control" type="text" formControlName="comentario"  [ngClass]="{'is-invalid':(comentario.invalid && (comentario.dirty || comentario.touched))}"></textarea>
      <div class="text-danger" *ngIf="(comentario.touched || comentario.dirty) && comentario.invalid">
      </div>
    </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="autorizada"> autorizada
    </label>
      <div class="text-danger" *ngIf="(autorizada.touched || autorizada.dirty) && autorizada.invalid">
      </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="apertura"> apertura
    </label>
      <div class="text-danger" *ngIf="(apertura.touched || apertura.dirty) && apertura.invalid">
      </div>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" formControlName="publicada"> publicada
    </label>
      <div class="text-danger" *ngIf="(publicada.touched || publicada.dirty) && publicada.invalid">
      </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Observaciones</label>
    <div class="col-sm-10">
      <textarea class="form-control" type="text" formControlName="observaciones"  [ngClass]="{'is-invalid':(observaciones.invalid && (observaciones.dirty || observaciones.touched))}"></textarea>
      <div class="text-danger" *ngIf="(observaciones.touched || observaciones.dirty) && observaciones.invalid">
      </div>
    </div>
  </div>
  
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Modalidad</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="modalidad" [ngClass]="{'is-invalid':(modalidad.invalid && (modalidad.dirty || modalidad.touched))}">
        <option [ngValue]="null">--Modalidad--</option>
        <option *ngFor="let option of (optModalidad$ | async)" [value]="option.id" >{{option.id | label:"modalidad"}}</option>
      </select>
      <div class="text-danger" *ngIf="(modalidad.touched || modalidad.dirty) && modalidad.invalid">
        <div *ngIf="modalidad.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Planificacion</label>
    <div class="col-sm-10">
      <app-planificacion-form-pick [field]="planificacion"></app-planificacion-form-pick>
      <div class="text-danger" *ngIf="(planificacion.touched || planificacion.dirty) && planificacion.invalid">
        <div *ngIf="(planificacion.touched && planificacion.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Comision Siguiente</label>
    <div class="col-sm-10">
      <app-typeahead [field]="comisionSiguiente" [entityName]="'comision'"></app-typeahead>
      <div class="text-danger" *ngIf="(comisionSiguiente.touched || comisionSiguiente.dirty) && comisionSiguiente.invalid">
        <div *ngIf="(comisionSiguiente.touched && comisionSiguiente.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Calendario</label>
    <div class="col-sm-10">
      <app-typeahead [field]="calendario" [entityName]="'calendario'"></app-typeahead>
      <div class="text-danger" *ngIf="(calendario.touched || calendario.dirty) && calendario.invalid">
        <div *ngIf="(calendario.touched && calendario.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div>
</fieldset>
