
<mat-card>
    <mat-card-header>
      <mat-card-title>Alumno</mat-card-title>
    </mat-card-header>
    <mat-card-content>
   
    <form [formGroup]="control" novalidate (ngSubmit)="onSubmit$.next(null)"> 
   
        <div fxLayout="row wrap">
            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="25%">
    
                <mat-form-field>
                    <mat-label>Ingreso con</mat-label>
                    <mat-select 
                        formControlName="documentacion_inscripcion"
                        placeholder="Ingreso con">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option value="Constancia">Constancia</mat-option>
                        <mat-option value="Certificado">Certificado</mat-option>
                        <mat-option value="Analítico Parcial">Analítico Parcial</mat-option>
                        <mat-option value="Analítico Completo">Analítico Completo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
   
            <div 
                class="fx-item" 
                fxFlex.xs="50%" 
                fxFlex.sm="25%" 
                fxFlex.gt-sm="12%">
                <mat-form-field>
                    <mat-label>Año inscripción</mat-label>
                    <mat-select 
                        formControlName="anio_inscripcion"
                        placeholder="Ingreso con">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                        <mat-option [value]="3">3</mat-option>
                        <mat-option [value]="4">4</mat-option>
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="6">6</mat-option>
                        <mat-option [value]="7">7</mat-option>
                        <mat-option [value]="8">8</mat-option>
                        <mat-option [value]="9">9</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>    

            <div 
                class="fx-item" 
                fxFlex.xs="50%" 
                fxFlex.sm="25%" 
                fxFlex.gt-sm="13%">
                <mat-form-field>
                    <mat-label>Año inscripción Completo</mat-label>
                    <mat-select 
                        formControlName="anio_inscripcion_completo"
                        placeholder="Año de inscripción completo?">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option [value]="true">Sí</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>    


            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="25%">
                <mat-form-field>
                    <mat-label>Establecimiento Inscripción</mat-label>
                    <input 
                        matInput 
                        formControlName="establecimiento_inscripcion"
                        placeholder="En que colegió estudio antes de fines?">
                </mat-form-field>
            </div>    


            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="25%">
                <mat-form-field>
                    <mat-label>Resolución Inscripción</mat-label>
                
                    <mat-select formControlName="resolucion_inscripcion">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option *ngFor="let opt of (optionsResolucion$ | async)" [value]="opt.id">
                            {{opt["label"]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div 
            class="fx-item" 
            fxFlex.xs="100%" 
            fxFlex.sm="50%" 
            fxFlex.gt-sm="25%">
            <mat-form-field
                [ngClass]="{
                    'highlightGreen':control.get('estado_inscripcion')!.value=='Correcto' || control.get('estado_inscripcion')!.value=='Titulado',
                    'highlightYellow':control.get('estado_inscripcion')!.value=='Correcto incompleto',
                    'highlightRed':control.get('estado_inscripcion')!.value=='Indeterminado' || control.get('estado_inscripcion')!.value=='Caso particular'
                  }">
                <mat-label>Estado Inscripción</mat-label>
            
                <mat-select formControlName="estado_inscripcion">
                    <mat-option [value]="null">--Seleccione--</mat-option>
                    <mat-option value="Correcto">Correcto</mat-option>
                    <mat-option value="Correcto incompleto">Correcto incompleto</mat-option>
                    <mat-option value="Indeterminado">Indeterminado</mat-option>
                    <mat-option value="Caso particular">Caso particular</mat-option>
                    <mat-option value="Titulado">Titulado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>    
        

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="25%">
                <mat-form-field
                    [ngClass]="{'highlightRed':!control.get('plan')!.value}">
                    <mat-label>Plan</mat-label>
                
                    <mat-select 
                        formControlName="plan"
                        placeholder="Indique plan de estudios de fines">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option *ngFor="let opt of (optionsPlan$ | async)" [value]="opt.id">
                            {{opt["label"]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>   

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="34%" 
                fxFlex.gt-sm="17%">
                <mat-form-field 
                    [ngClass]="{'highlightRed':!control.get('anio_ingreso')!.value}">
                    <mat-label>Año de Ingreso</mat-label>
                
                    <mat-select 
                        formControlName="anio_ingreso"
                        placeholder="A qué año ingreso en fines?">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>    


            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="34%" 
                fxFlex.gt-sm="17%">
                <mat-form-field 
                    [ngClass]="{'highlightRed':!control.get('semestre_ingreso')!.value}">
                    <mat-label>Año de Ingreso</mat-label>
                
                    <mat-select 
                        formControlName="semestre_ingreso"
                        placeholder="A qué semestre ingreso en fines?">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>    

            <div 
                class="fx-item" 
                fxFlex.xs="50%" 
                fxFlex.sm="33%" 
                fxFlex.gt-sm="17%">
                <mat-form-field>
                    <mat-label>Libro</mat-label>
                    <input matInput
                        formControlName="libro"
                        placeholder="Indique libro"
                    >
                </mat-form-field>
            </div>   


            <div 
                class="fx-item" 
                fxFlex.xs="50%" 
                fxFlex.sm="33%" 
                fxFlex.gt-sm="16%">
                <mat-form-field>
                    <mat-label>Folio</mat-label>
                    <input matInput
                        formControlName="folio"
                        placeholder="Indique folio"
                    >
                </mat-form-field>
            </div> 

            

            
            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="50%">
                <mat-form-field>
                    <mat-label>Adeuda deudores</mat-label>
                
                    <input matInput
                        formControlName="adeuda_deudores"
                        placeholder="Tiene alguna materia previa?"
                    >
                </mat-form-field>
            </div>   
            
            
            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="50%">
                <mat-form-field>
                    <mat-label>Adeuda legajo</mat-label>
                
                    <input matInput
                        formControlName="adeuda_legajo"
                        placeholder="Debe alguna documentación?"
                    >
                </mat-form-field>
            </div>   

            
            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="100%" 
                fxFlex.gt-sm="100%">
                <mat-form-field>
                    <mat-label>Observaciones</mat-label>
                
                    <textarea matInput 
                        formControlName="observaciones"
                        placeholder="Ingrese observaciones"></textarea>
                </mat-form-field>
            </div>    


          

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="33%" 
                fxFlex.gt-sm="20%">
                <mat-checkbox formControlName="tiene_constancia">
                    Tiene Constancia
                </mat-checkbox>
            </div>         
            
            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="34%" 
                fxFlex.gt-sm="20%">
                <mat-checkbox formControlName="tiene_certificado">
                    Tiene Certificado
                </mat-checkbox>
            </div>         

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="33%" 
                fxFlex.gt-sm="20%">
                <mat-checkbox formControlName="previas_completas">
                    Previas completas
                </mat-checkbox>
            </div>       

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="20%">
                <mat-checkbox formControlName="tiene_dni">
                    Tiene DNI
                </mat-checkbox>
            </div>    

            <div 
                class="fx-item" 
                fxFlex.xs="100%" 
                fxFlex.sm="50%" 
                fxFlex.gt-sm="20%">
                <mat-checkbox formControlName="tiene_partida">
                    Tiene Partida
                </mat-checkbox>
            </div>    
        </div>
   
        <button  
            [disabled]="control.status == 'PENDING'"
            type="submit" 
            mat-raised-button>Guardar Alumno
        </button>

    </form>
   
   
    </mat-card-content>
  </mat-card>
  