<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="nombre"  [ngClass]="{'is-invalid':(nombre.invalid && (nombre.dirty || nombre.touched))}">
      <div class="text-danger" *ngIf="(nombre.touched || nombre.dirty) && nombre.invalid">
        <div *ngIf="nombre.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Cue</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="cue"  [ngClass]="{'is-invalid':(cue.invalid && (cue.dirty || cue.touched))}">
      <div class="text-danger" *ngIf="(cue.touched || cue.dirty) && cue.invalid">
      </div>
    </div>
  </div>
  <!--div class="form-group row">
    <label class="col-sm-2 col-form-label">Domicilio</label>
    <div class="col-sm-10">
      <app-fieldset-typeahead [fieldset]="fieldset" [entityName]="'domicilio'" [fieldName]="'domicilio'"></app-fieldset-typeahead>
      <div class="text-danger" *ngIf="(domicilio.touched || domicilio.dirty) && domicilio.invalid">
        <div *ngIf="domicilio.errors.required">Debe completar valor</div>
        <div *ngIf="(domicilio.touched && domicilio.errors.unselected)">Valor no seleccionado</div>
      </div>
    </div>
  </div-->
</fieldset>
