<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
      <mat-card-title>
          Buscar Comisión  
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <core-input-search-go fxFlex="auto" [entityName]="'comision'"></core-input-search-go>    
  </mat-card-content>
</mat-card>

<ng-container *ngIf="(loadParams$ | async); else loading">
    <ng-container *ngIf="(loadDisplay$ | async); else loading">
      <ng-container *ngIf="(loadStorage$ | async); else loading">
        
        <form [formGroup]="controlComision" novalidate (ngSubmit)="onSubmit()">
          <app-comision-admin-fieldset-comision [control]="controlComision"></app-comision-admin-fieldset-comision>
 
          <mat-card>
            <mat-card-content>
                <button [disabled]="controlComision.status == 'PENDING'"
                        type="submit"
                        mat-raised-button>Guardar</button>
            </mat-card-content>
           </mat-card>
        </form>

        <app-comision-admin-fieldset-curso [idComision]="idComision" 
            [control]="controlCurso_"
            [display$]="display$"
            (addCurso)=addCurso()></app-comision-admin-fieldset-curso>

      </ng-container>
    </ng-container>
</ng-container>
>