<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Dias</label>
    <div class="col-sm-10">
      <select multiple class="form-control" formControlName="dias" [ngClass]="{'is-invalid':(dias.invalid && (dias.dirty || dias.touched))}">
        <option [ngValue]="null">--Dia--</option>
        <option *ngFor="let option of (optDia$ | async)" [value]="option.id" >{{option.id | label:"dia"}}</option>
      </select>
      <div class="text-danger" *ngIf="(dias.touched || dias.dirty) && dias.invalid">
        <div *ngIf="dias.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
  
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Hora inicio</label>
    <div class="col-sm-10">
      <ngb-timepicker formControlName="hora_inicio" [spinners]="false" [ngClass]="{'is-invalid':(horaInicio.invalid && (horaInicio.dirty || horaInicio.touched))}"></ngb-timepicker>
      <div class="text-danger" *ngIf="(horaInicio.touched || horaInicio.dirty) && horaInicio.invalid">
        <div *ngIf="horaInicio.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
</fieldset>
