<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
<div class="form-row">
  <div class="form-group col-sm">
    <select class="form-control" formControlName="anio" [ngClass]="{'is-invalid':(anio.invalid && (anio.dirty || anio.touched))}">
      <option [ngValue]="null">--Anio--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
    </select>
  </div>
  <div class="form-group col-sm">
    <select class="form-control" formControlName="semestre" [ngClass]="{'is-invalid':(semestre.invalid && (semestre.dirty || semestre.touched))}">
      <option [ngValue]="null">--Semestre--</option>
          <option value="1">1</option>
          <option value="2">2</option>
    </select>
  </div>
  <div class="form-group col-sm">
    <select class="form-control" formControlName="plan" [ngClass]="{'is-invalid':(plan.invalid && (plan.dirty || plan.touched))}">
      <option [ngValue]="null">--Plan--</option>
      <option *ngFor="let option of (optPlan$ | async)" [value]="option.id" >{{option.id | label:"plan"}}</option>
    </select>
  </div>
  <div class="form-group col-sm-1">
    <button class="form-control" *ngIf="field.pending" [disabled]="true" class="btn btn-outline-secondary"><span class="oi oi-clock"></span></button>
    <button class="form-control" *ngIf="!field.value && !field.pending" type="submit" class="btn btn-outline-secondary"><span class="oi oi-magnifying-glass"></span></button>
    <button class="form-control" *ngIf="field.value && !field.pending" class="btn btn-outline-secondary" (click)="field.setValue(null)"><span class="oi oi-reload"></span></button>    
  </div>
</div>
</form>
