<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="(loadParams$ | async); else loading">
  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <mat-card>
      <mat-card-header>
          <mat-card-title>
            Lista de Cursos con Docente
          </mat-card-title>
          <!--core-abstract-control-view *ngFor="let o of optTitle" 
              [config]="o.config" 
              [control]="o.control" ></core-abstract-control-view--> 
      </mat-card-header>
      <mat-card-content>
      <mat-progress-bar *ngIf="!load" 
                        mode="indeterminate"></mat-progress-bar>

      <!--core-search  [display]="display$.value" 
                    [config]="searchConfig"
                    [control]="searchControl"></core-search-->

      <div #mainContent>
        <table  mat-table
            [dataSource]="control.controls" 
            matSort 
            matSortDisableClear
            (matSortChange)="onChangeSort($event)" 
            [matSortActive]="'sede'" 
            [matSortDirection]="'asc'"
            class="mat-elevation-z8">
    
          <ng-container matColumnDef="sede" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                {{row.controls['sede'].value}}
              </td>
          </ng-container>
    
          <ng-container matColumnDef="comision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comision </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{row.controls['comision'].value}}
            </td>
          </ng-container>

          <ng-container matColumnDef="domicilio">
            <th mat-header-cell *matHeaderCellDef > Domicilio </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{row.controls['domicilio'].value}}
            </td>
          </ng-container>

          <ng-container matColumnDef="asignatura-nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignatura </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{row.controls['asignatura-nombre'].value}}
            </td>
          </ng-container>

          <ng-container matColumnDef="tramo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tramo </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{row.controls['tramo'].value}}
            </td>
          </ng-container>

          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef> Horario </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              {{row.controls['horario'].value}}
            </td>
          </ng-container>
        
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let row; let i = index;">
              <a [routerLink]="'/toma-posesion-email-abc'"
                 [queryParams]="{'curso':row.controls['id'].value}"
                 [title]="'Administrar Comision'">Toma de Posesión</a>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      </div>

    </mat-card-content>
    </mat-card>
  </ng-container>
  <!-- <p>Debug Form value: {{ form.value | json }}</p>
  <p>Debug Form status: {{ form.status | json }}</p> -->

</ng-container>