<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="(loadParams$ | async); else loading">
  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <ng-container *ngIf="(loadSearch$ | async); else loading">

    <mat-card>
      <mat-card-header>
          <mat-card-title>
            Lista de Cursos con Docente
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-progress-bar *ngIf="!load" 
                        mode="indeterminate"></mat-progress-bar>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Opciones</mat-panel-title>
          </mat-expansion-panel-header>
         
          <form [formGroup]="controlSearch" novalidate (ngSubmit)="onSubmitSearch()"> 
             
              <div fxLayout="row wrap">
                  <div class="item" 
                      fxFlex.xs="100%" 
                      fxFlex.sm="50%" 
                      fxFlex.gt-sm="25%">
                      <mat-form-field dateFormatYyyy> 
                          <mat-label>Año</mat-label>
                      
                          <input matInput 
                              [matDatepicker]="fieldPicker" 
                              formControlName="calendario-anio" 
                              placeholder="Ingrese año">

                          <mat-datepicker-toggle matSuffix 
                              [for]="fieldPicker"></mat-datepicker-toggle>
                              
                          <mat-datepicker-toggle matSuffix 
                              (click)="fs.setNullGroupKey(controlSearch,'calendario-anio')">
                              <mat-icon matDatepickerToggleIcon>clear</mat-icon></mat-datepicker-toggle>
                          
                          <mat-datepicker #fieldPicker
                                  startView="multi-year"
                                  (yearSelected)="fs.datePickerYearGroupKey(controlSearch,'calendario-anio',$event,fieldPicker)">
                          </mat-datepicker>
                      </mat-form-field>                    
                  </div>

                <div class="item" 
                    fxFlex.xs="100%" 
                    fxFlex.sm="50%" 
                    fxFlex.gt-sm="25%">
                    <mat-form-field>
                      <mat-label>Semestre</mat-label>
                     
                      <mat-select formControlName="calendario-semestre">
                        <mat-option [value]="null">--Seleccione--</mat-option>
                        <mat-option [value]="'1'">1</mat-option>
                        <mat-option [value]="'2'">2</mat-option>
                    </mat-select>

                    </mat-form-field>                    
                </div>

                <div class="item" 
                    fxFlex.xs="100%" 
                    fxFlex.sm="50%" 
                    fxFlex.gt-sm="25%">
                    <mat-form-field>
                        <mat-label>Autorizada</mat-label>
                      
                        <mat-select formControlName="comision-autorizada">
                            <mat-option [value]="null">--Seleccione--</mat-option>
                            <mat-option [value]="'true'">Sí</mat-option>
                            <mat-option [value]="'false'">No</mat-option>
                        </mat-select>

                        <mat-error *ngIf="control.hasError('required')">Debe completar valor</mat-error>
                    </mat-form-field>
                </div>

              </div>

              <button mat-raised-button color="primary" type="submit">Buscar</button>&nbsp;
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <div #mainContent>
            <app-info-cursos-table [control]="control"></app-info-cursos-table>
      </div>

    </mat-card-content>
    </mat-card>
    
    </ng-container>
  </ng-container>
  <!-- <p>Debug Form value: {{ form.value | json }}</p>
  <p>Debug Form status: {{ form.status | json }}</p> -->

</ng-container>