

<div *ngIf="cursos$ | async as data" class="container">
  <div *ngIf="data.length"> 
    <div *ngFor="let row of data; let i = index" class="row align-items-center border">
      <div class="col-md-4">
        <h5>{{row.curso_.asignatura_.nombre}}</h5>
        <small>{{row.curso_.horas_catedra}} horas cátedra</small>
      </div>
      <div class="col-md-4">
  {{row.dia_.dia}} {{row.hora_inicio | toTime | date:"HH:mm"}} {{row.hora_fin | toTime | date:"HH:mm"}} 
      </div>
      <div class="col-md">
        <a class="btn btn-primary" [routerLink]="['/horario-admin']" [queryParams]="{id:row.id}" >Modificar</a>
      </div>
    </div>
  </div>
</div>
