<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Buscar Sede   
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <core-input-search-go fxFlex="auto" [entityName]="'sede'"></core-input-search-go>    
    </mat-card-content>
</mat-card>



<ng-container *ngIf="(loadParams$ | async); else loading">
    <ng-container *ngIf="(loadDisplay$ | async); else loading">
      <ng-container *ngIf="(loadStorage$ | async); else loading">
          <app-sede-admin-fieldset-sede [control]="controlSede" (onSubmit)=onSubmit($event)></app-sede-admin-fieldset-sede>
          <app-sede-admin-fieldset-domicilio [control]="controlDomicilio" (onSubmit)=onSubmit($event)></app-sede-admin-fieldset-domicilio>
      </ng-container>
    </ng-container>
</ng-container>