<fieldset *ngIf="load$ | async" [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Descripcion</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" formControlName="descripcion"  [ngClass]="{'is-invalid':(descripcion.invalid && (descripcion.dirty || descripcion.touched))}">
      <div class="text-danger" *ngIf="(descripcion.touched || descripcion.dirty) && descripcion.invalid">
        <div *ngIf="descripcion.errors.required">Debe completar valor</div>
        <div *ngIf="descripcion.errors.notUnique">El valor ya se encuentra utilizado: <a routerLink="/cargo-admin" [queryParams]="{'descripcion':descripcion.value}">Cargar</a></div>
      </div>
    </div>
  </div>
</fieldset>
