<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="(load$ | async); else loading">
  <mat-progress-bar *ngIf="!load" mode="indeterminate"></mat-progress-bar>
  <core-card-dynamic [fieldsViewOptions]="fieldsViewOptions" [data]="data" [title]="'Docente'" ></core-card-dynamic>
  <core-table-dynamic [fieldsViewOptions]="tomasColumns" [dataSource]="tomas" [title]="'Tomas de Posesión'" [options]="{sortActive:'fecha_toma', sortDirection:'desc'}"></core-table-dynamic>
</div>
