
<ng-template #loading>No se han encontrado registros...</ng-template>

<div *ngIf="designaciones$ | async as data; else loading" class="container">

<div *ngIf="data.length; else loading" class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['desde'])">Desde</button></th>
        <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['hasta'])">Hasta</button></th>
        <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['car_descripcion'])">Cargo</button></th>
        <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['per_nombres', 'per_apellidos', 'per_numero_documento'])">Persona</button></th>
        <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; let i = index">
        <td>{{row.desde | toDate | date:'dd/MM/yyyy'}}</td>
        <td>{{row.hasta | toDate | date:'dd/MM/yyyy'}}</td>
        <td><a [routerLink]="['/cargo-show']" [queryParams]="{id:row.cargo}" >{{row.cargo | label:'cargo'}}</a></td>
        <td><a [routerLink]="['/persona-show']" [queryParams]="{id:row.persona}" >{{row.persona | label:'persona'}}</a></td>
        <td>
          <a class="btn btn-warning btn-sm" [routerLink]="['/designacion-admin']" [queryParams]="{id:row.id}" ><span class="oi oi-pencil" title="Modificar"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
