<fieldset [formGroup]="fieldset">
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Inicio</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy" ngbDatepicker #inicio_="ngbDatepicker" formControlName="inicio" [ngClass]="{'is-invalid':(inicio.invalid && (inicio.dirty || inicio.touched))}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="inicio_.toggle()" type="button">
            <span title="Calendario" class="oi oi-calendar"></span>
          </button>
          <button class="btn btn-outline-secondary" (click)="inicio.setValue(null)" type="button">
            <span title="Limpiar" class="oi oi-reload"></span>
          </button>
        </div>
      </div>
      <div class="text-danger" *ngIf="(inicio.touched || inicio.dirty) && inicio.invalid">
        <div *ngIf="inicio.errors.ngbDate">Ingrese una fecha válida</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Fin</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input class="form-control" placeholder="dd/mm/yyyy" ngbDatepicker #fin_="ngbDatepicker" formControlName="fin" [ngClass]="{'is-invalid':(fin.invalid && (fin.dirty || fin.touched))}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="fin_.toggle()" type="button">
            <span title="Calendario" class="oi oi-calendar"></span>
          </button>
          <button class="btn btn-outline-secondary" (click)="fin.setValue(null)" type="button">
            <span title="Limpiar" class="oi oi-reload"></span>
          </button>
        </div>
      </div>
      <div class="text-danger" *ngIf="(fin.touched || fin.dirty) && fin.invalid">
        <div *ngIf="fin.errors.ngbDate">Ingrese una fecha válida</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Anio</label>
    <div class="col-sm-10">
      <input class="form-control" placeholder="yyyy" type="text" formControlName="anio"  [ngClass]="{'is-invalid':(anio.invalid && (anio.dirty || anio.touched))}">
      <div class="text-danger" *ngIf="(anio.touched || anio.dirty) && anio.invalid">
        <div *ngIf="anio.errors.required">Debe completar valor</div>
        <div *ngIf="anio.errors.nonNumeric">Ingrese sólo números</div>
        <div *ngIf="anio.errors.notYear">No es un año válido</div>    
        <div *ngIf="anio.errors.minYear">Valor no permitido</div>
      </div>
    </div>
  </div>
  <div class="form-group form-row">
    <label class="col-sm-2 col-form-label">Semestre:</label>
    <div class="col-sm-10">
      <select class="form-control" formControlName="semestre" [ngClass]="{'is-invalid':(semestre.invalid && (semestre.dirty || semestre.touched))}">
        <option [ngValue]="null">--Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>
      <div class="text-danger" *ngIf="(semestre.touched || semestre.dirty) && semestre.invalid">
        <div *ngIf="semestre.errors.required">Debe completar valor</div>
      </div>
    </div>
  </div>
</fieldset>
