<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
 
<ng-container *ngIf="(loadParams$ | async); else loading">
    <ng-container *ngIf="(loadDisplay$ | async); else loading">
      <ng-container *ngIf="(loadStorage$ | async); else loading">
        <form [formGroup]="control" novalidate (ngSubmit)="onSubmit()">
          <app-comision-admin-fieldset-comision [control]="controlComision"></app-comision-admin-fieldset-comision>
 
          <mat-card>
            <mat-card-content>
                <button [disabled]="controlComision.status == 'PENDING'"
                        type="submit"
                        mat-raised-button>Guardar</button>
            </mat-card-content>
           </mat-card>
        </form>
      </ng-container>
    </ng-container>
</ng-container>
