<mat-card *ngIf="load$ | async">
  <mat-card-header>
    <mat-card-title>Opciones</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">

      <mat-list-option>
        <a routerLink="/alumno-comision-show" routerLinkActive="active">Alumnos por comisión</a> Se puede filtrar para seleccionar la comisión y los activos y acceder al admin de los alumnos.
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/sede-show" routerLinkActive="active" [queryParams]="{centro_educativo:id}">Sedes</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/comision-show" routerLinkActive="active" [queryParams]="{'cal-anio':2021,'cal-semestre':1,modalidad:1,autorizada:true,'sed-centro_educativo':id}">Consolidado 2021-1</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/toma-show" routerLinkActive="active" [queryParams]="{'cur_com_cal-anio':2020,'cur_com_cal-semestre':2,'cur_com-modalidad':1,'cur_com-autorizada':true,'cur_com_sed-centro_educativo':id}">Tomas de Posesion 2020-2</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/transferir-alumno" routerLinkActive="active">Transferir Alumno</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/transferir-alumno-comision" routerLinkActive="active">Transferir Alumno Comisión</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/curso-toma-posesion" routerLinkActive="active">Toma de Posesión para docentes 2021-1</a>
      </mat-list-option>
      <mat-list-option>
        <a routerLink="/designacion-admin" routerLinkActive="active">Designaciones</a> Las designaciones son las relaciones de una persona con la sede (coordinador, referente, responsable, colaborador, etc)
      </mat-list-option>
    </mat-selection-list>

    <h2>Interfaces Administrativas</h2>

    <p><a routerLink="/alumno-comision-admin" 
      routerLinkActive="active"
      >
        Insertar nuevos alumnos a una determinada comisión
    </a>
  </p>

    <p><a routerLink="/toma-show-options" 
        routerLinkActive="active"
        [queryParams]="{'cur_com_cal-anio':2021,'cur_com_cal-semestre':1,'cur_com-modalidad':1,'cur_com-autorizada':true,'cur_com_sed-centro_educativo':id}">
          Tomas de posesion para aprobar / rechazar
      </a>
    </p>
      
    <p>
      <a routerLink="/comision-show-3" 
          routerLinkActive="active" 
          [queryParams]="{'cal-anio':2021,'cal-semestre':1,modalidad:1,autorizada:true,'sed-centro_educativo':id}">
          Lista de Comisiones 2021-1
      </a> Se pueden visualizar las cantidades: total de alumnos, total de alumnos activos, total de alumnos con al menos una asignatura aprobada. Se puede acceder a la lista de alumnos activos (la misma que accede el referente).
    </p>
    <p>
      <a routerLink="/comision-show-3" 
          routerLinkActive="active" 
        [queryParams]="{'cal-anio':2020,'cal-semestre':2,modalidad:1,autorizada:true,'sed-centro_educativo':id}">
        Lista de Comisiones 2020-2
      </a> Se pueden visualizar las cantidades: total de alumnos, total de alumnos activos, total de alumnos con al menos una asignatura aprobada. Se puede acceder a la lista de alumnos activos (la misma que accede el referente).
    </p> 
  
    <h2>Scripts</h2>
    
    <p>
      <a href="{{script_url}}actualizar_alumnos_activos_calificacion.php" target="_blank">Actualizar activos en base a calificacion</a>
      Actualizar campo activo de alumno_comision de un periodo x, en base a las calificaciones de ese periodo x. 
      Si existen personas calificadas que no figuran como alumno_comision, son insertadas
    </p>
    <p>
      <a href="{{script_url}}transferir_alumnos_activos.php" target="_blank">Transferir Alumnos Activos</a> Dado un periodo X, elimina todos los registros de alumno_comision del periodo x+1 y registra todos los registros de alumno_comision del periodo x en el periodo x+1
    </p>
  </mat-card-content>
</mat-card>