/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field { width: 100%; }

table { width: 100%; }

mat-card { margin: 15px; }

.highlightYellow { background: yellow; }

.highlightRed{ background: #ff9999; }

.highlightBlue{ background: #63c5da; }

.fx-item { padding:0px 10px;  }

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    /* text-align: center; */
    vertical-align: center;


  }

  /* tr:hover {background-color: rgb(136, 132, 132);} */

  tr:nth-child(even) {background-color: #f2f2f2;}

  /* th {
    background-color: #04AA6D;
    color: white;
  } */