/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-form-field { width: 100%; }


mat-card { margin: 15px; }

.highlightYellow { background: yellow; }

.highlightRed{ background: #ff9999; }

.highlightBlue{ background: #63c5da; }

.highlightGreen{ background: #63da81; }


.fx-item { padding:0px 10px;  }

.table { width: 100%; }

.table, .table th, .table td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    /* text-align: center; */
    vertical-align: center;


  }

/*.table tr:hover {background-color: rgb(136, 132, 132);} */

.table tr:nth-child(even) {background-color: #f2f2f2;}

/*.table th {
  background-color: #04AA6D;
  color: white;
} */