<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Buscar alumno
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <core-input-search-go fxFlex="auto" [entityName]="'alumno'"></core-input-search-go>    
  </mat-card-content>
</mat-card>

<form *ngIf="(loadParams$ | async); else loading" 
      [formGroup]="control" 
      (ngSubmit)="onSubmit()" 
      novalidate autocomplete="off">

  <ng-container *ngIf="(loadDisplay$ | async); else loading">
    <ng-container *ngIf="(loadStorage$ | async); else loading">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Datos personales
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <core-abstract-control-form-group [config]="configPersona"
                                            [control]="controlPersona"></core-abstract-control-form-group>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Datos de alumno
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <core-abstract-control-form-group [config]="configAlumno"
                                            [control]="controlAlumno"></core-abstract-control-form-group>
        </mat-card-content>
      </mat-card>
      
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Legajo
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <core-table-one [control]="controlDetallePersona"
                          [config]="configDetallePersona"
                          [optColumn]="optColumn"></core-table-one>
      
          <core-abstract-control-view *ngFor="let o of optFooterDetallePersona" 
                [config]="o.config" 
                [control]="o.control" ></core-abstract-control-view>
        </mat-card-content>
      </mat-card>
      
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Comisiones
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <core-table-one [control]="controlComision"
                          [config]="configComision"
                          [optColumn]="optColumn"></core-table-one>

          <core-abstract-control-view *ngFor="let o of optFooterComision" 
                          [config]="o.config" 
                          [control]="o.control" ></core-abstract-control-view>
        </mat-card-content>
      </mat-card>
    </ng-container> 
  </ng-container>

  <mat-card>
    <mat-card-content>
      <core-event-button [config]="{text:'Aceptar',action:'submit',color:'primary',fieldEvent:optField}"></core-event-button>
      <core-event-icon [config]="{icon:'cached', action:'reset', color:'primary',fieldEvent:optField}"></core-event-icon>    
      <core-event-icon [config]="{icon:'clear', action:'clear', color:'primary',fieldEvent:optField}"></core-event-icon>    

    </mat-card-content>
  </mat-card>
  
  
</form>


