
    <ng-template #loading>No se han encontrado registros...</ng-template>

    <div *ngIf="((data$ | async) && (data$ | async).length); else loading" class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['numero'])">Numero</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['nombre'])">Nombre</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['observaciones'])">Observaciones</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['baja'])">Baja</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['dom_calle', 'dom_numero', 'dom_barrio'])">Domicilio</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['ts_descripcion'])">Tipo Sede</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['ce_nombre'])">Centro Educativo</button></th>
            <th><button type="button" class="btn btn-link text-dark font-weight-bold" (click)="order(['coo_nombres', 'coo_apellidos', 'coo_numero_documento'])">Coordinador</button></th>
            <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of (data$ | async); let i = index">
              <td>{{row.numero}}</td>
              <td>{{row.nombre}}</td>
              <td>{{row.observaciones}}</td>
              <td>{{row.baja}}</td>
              <td><a [routerLink]="['/domicilio-show']" [queryParams]="{id:row.domicilio}" >{{row.domicilio | label:'domicilio'}}</a></td>
              <td><a [routerLink]="['/tipo-sede-show']" [queryParams]="{id:row.tipo_sede}" >{{row.tipo_sede | label:'tipo_sede'}}</a></td>
              <td><a [routerLink]="['/centro-educativo-show']" [queryParams]="{id:row.centro_educativo}" >{{row.centro_educativo | label:'centro_educativo'}}</a></td>
              <td><a [routerLink]="['/persona-show']" [queryParams]="{id:row.coordinador}" >{{row.coordinador | label:'persona'}}</a></td>
              <td>
              <!-- a class="btn btn-info btn-sm" [routerLink]="['/sede-detail']" [queryParams]="{id:row.id}" ><span class="oi oi-eye" title="Detalle"></span></a>    
              <a class="btn btn-warning btn-sm" [routerLink]="['/sede-admin']" [queryParams]="{id:row.id}" ><span class="oi oi-pencil" title="Modificar"></span></a>              
              <!-- button class="btn btn-danger btn-sm" type="button" ><span class="oi oi-trash" title="Eliminar"></span></button -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
