<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="(load$ | async); else loading">
  <mat-progress-bar *ngIf="!load" mode="indeterminate"></mat-progress-bar>
  <core-search-dynamic [display]="display" [fieldsViewOptionsSp]="fieldsViewOptionsSp"></core-search-dynamic>
  <app-curso-toma-posesion-table [dataSource]="data" [length]="length" [display]="display" [fieldsViewOptions]="fieldsViewOptions"></app-curso-toma-posesion-table>
</div>
