<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-card>
  <mat-card-header>
    <mat-card-title>Comision</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="(load$ | async) && load; else loading">
    <div *ngFor="let row of dataSource">
      <div  fxLayout fxLayout.xs="column">
        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-card class="comision">
            <mat-card-header>
              <mat-card-title>
                <core-field-label [entityName]="'sede'" [fieldNames]="['numero']" [id]="row.sede"></core-field-label>
                {{row.division}} 
                <core-field-label [entityName]="'planificacion'" [fieldNames]="['anio','semestre']" [id]="row.planificacion" [join]="''"></core-field-label>
              </mat-card-title>
              <mat-card-subtitle><core-field-label [entityName]="'sede'" [fieldNames]="['nombre']" [id]="row.sede"></core-field-label></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list role="list" >
                <mat-list-item *ngIf="row.calendario" role="listitem">
                  <core-label [entityName]="'calendario_as'" [id]="row.calendario"></core-label>
                    &nbsp;
                    <!--a routerLink="/alumno-show" [queryParams]="{comision:row.id}"-->
                      (
                      <span *ngIf="row.alumnos">{{row.alumnos}}</span>
                      <span *ngIf="!row.alumnos">0</span>
                      &nbsp;alumnos
                      )
                    <!--/a--> 
                  
                </mat-list-item>
                <mat-list-item *ngIf="row.planificacion" role="listitem">
                  <core-field-tree [tree]="planificacionTree" [id]="row.planificacion"></core-field-tree>
                </mat-list-item>
                
               </mat-list>
            </mat-card-content>
            <!--mat-card-actions>
              <a routerLink="/comision-admin" [queryParams]="{'id':row.id}"><mat-icon>open_in_new</mat-icon></a>
              <a routerLink="/curso-admin" [queryParams]="{'id':row.id}"><mat-icon>calendar_today</mat-icon></a>
            </mat-card-actions-->
          </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
            <mat-card *ngFor="let curso of row._curso">
              <mat-card-content>
                 <strong><core-field-label [entityName]="'asignatura'" [fieldNames]="['nombre']" [id]="curso.asignatura"></core-field-label>
                  IGE {{curso.ige}}<a routerLink="/toma-admin" [queryParams]="{'curso':curso.id}"><mat-icon>edit</mat-icon></a>
                  <a routerLink="/calificacion-show-admin-rel" [queryParams]="{'cur-id':curso.id}"><mat-icon>account_box</mat-icon></a></strong>  
                <br><span class="mat-small">&nbsp;{{curso.horario}} - {{curso.horas_catedra}} horas cátedra</span>
                <mat-list role="list" dense>
                  <mat-list-item *ngFor="let toma of curso._toma" role="listitem" [ngClass]="{'green': toma.estado == 'Aprobada', 'yellow': toma.estado == 'Pendiente', 'red':toma.estado == 'Renuncia'}">
                    <!--a *ngIf="toma.docente"routerLink="/docente-detail" [queryParams]="{id: toma.docente}"-->
                      <core-field-label [entityName]="'persona'" [fieldNames]="['nombres','apellidos']" [id]="toma.docente"></core-field-label>
                    <!--/a-->
                    &nbsp;{{toma.fecha_toma | toDate | date:"d/M/y"}}
                    &nbsp;<!--a *ngIf="toma.planilla_docente" routerLink="/planilla-docente-admin" [queryParams]="{numero: toma.planilla_docente}"-->
                      ({{toma.planilla_docente}})
                    <!--/a-->
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>  
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <mat-paginator *ngIf="display && length"
                   [length]="length"
                   [pageSize]="display.size"
                   [pageIndex]="display.page-1"
                   (page)="onChangePage($event)"
                   [pageSizeOptions]="[10, 25, 50, 100]" 
                   showFirstLastButtons>
    </mat-paginator>  
  </mat-card-content>
</mat-card>
